@import "compass";
@import "../variables/colorPalette";
@import "../variables/mixins";

body {
	background-color: #FFF;
}

// Fonts

.site__wrapper {
	h1 {
		color: $mainColor;
		font-weight: 700;
	}

	h2 {
		position: relative;
		margin: 8px 0;
		padding: 0;
		font-size: 36px;
		color: $darkGray;
		font-weight: 700;
	}

	p {
		font-weight: 400;
		color: $darkGray;
	}

	// Layout

	.section__header {
		margin-top: 30px;
	}

	// Footer

	footer {
		padding-top: 10px;
		background-color: $mainColor;

		p {
			color: #FFF;
		}

		.footer__author {
			text-align: right;
		}
	}
}


// fontVersus

#fonts-versus {
	text-transform: uppercase;

	.versus__tag {
		margin-bottom: 20px;

		span {
			padding: 5px 15px;
			border: 2px solid black;
		}
	}
}


// Nav bar
#home-nav {
	background: $darkGray url("../images/retroTile.png") repeat scroll center;

	.nav__logo {

		a {
			color: #FFF;
			background-color: 'mainColor';

			&:hover {
				background-color: lighten($mainColor, 10%);
			}
		}
	}

	.nav__item {
		a {
			color: #FFF;

			&:hover {
				color: $mainColor;
			}
		}
	}
}

// Header

#home-header {
	background: #1a1a1a url("https://unsplash.it/1920/600/?image=1082") no-repeat scroll center;
	background-size: cover;
	border-bottom: 10px solid $fillColor;

	h1 {
		font-weight: 700;
		text-transform: uppercase;
	}

	p {
		margin-top: 20px;
		margin-bottom: 15px;
		max-width: 50%;
		color: #FFF;
	}

	.header__overlay {
		background-color: rgba($fillColor, 0.3);
	}

	.header__button {
		padding: 6px 20px;
		font-size: 18px;
		color: $mainColor;
		font-weight: 700;
		text-transform: uppercase;
		background-color: transparent;
		border: 2px solid $mainColor;
		transition: all 0.4s ease-in-out;
		&:hover {
			color: #FFF;
			background-color: $mainColor;
		}
	}
}


// Skills

#home-skills {
	.col-sm-4 {
		margin-top: 15px;
	}

	.skills__item {
		color: #FFF;
		border: 5px solid $darkGray;

		h3 {
			text-align: center;
			position: relative;
			margin: 0;
			padding: 50px 15px 15px;
			color: $darkGray;

			&:before {
				position: absolute;
				content: "";
				margin-left: -15px;
				width: 30px;
				height: 4px;
				left: 50%;
				bottom: -4px;
				background-color: $darkGray;
			}
		}

		p {
			margin: 0;
			padding: 15px;
			color: $fillColor;
		}
	}

	.skills__item-button {
		margin-bottom: 10px;
		padding: 0;
		font-family: 'secondaryFont';
		font-size: 18px;
		color: $darkGray;
		font-weight: 300;
		text-transform: lowercase;
		background-color: transparent;
		border: none;
		&:hover {
			color: lighten($secondaryColor, 10%);
		}
	}
}

// History

#home-history {
	margin-top: 15px;
	margin-bottom: 15px;
	.titleIcon:before {
		content: "34";
	}
	.wrapper {
		padding-top: 20px;
		background-color: $lightGray;
	}
	p {
		padding: 15px;
	}
}

// Random Words

#home-words {
	margin-top: 15px;
	margin-bottom: 15px;

	.wrapper {
		.row {
			margin-left: 0;
			margin-right: 0;
			padding-top: 30px;
		}
	}

	p {
		padding: 15px;
	}
}


// Team

#home-team {
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: $lightGray;
	border-bottom: 5px solid $mainColor;

	.container .wrapper {
		overflow: hidden;
		padding: 15px;
		border-radius: 7px;
	}

	.team__tag {
		margin-top: 80px;
	}

	.h1 {
		font-weight: 700;
		color: $mainColor;
	}

	li {
		& + li {
			margin-top: 25px;
		}
	}

	h3 {
		font-size: 28px;
		font-weight: 700;
		color: $darkGray;
		text-transform: uppercase;
		border-bottom: 4px solid $darkGray;
	}

	h5 {
		font-weight: 700;
	}
}

// Prices

#home-prices {
	margin-bottom: 100px;

	.row {
		margin-right: 0;
		margin-left: 0;
		padding-top: 20px;
	}

	h3 {
		font-weight: 700;
		color: $mainColor;
	}

	h4 {
		font-size: 18px;
		font-weight: 300;
		color: $fillColor;
		text-transform: uppercase;
	}

	.prices__tag {
		margin-bottom: 15px;
		font-weight: 700;
	}

	.prices__list {
		ul {
			text-align: left;
			padding-left: 3%;
			padding-right: 3%;
		}

		li {
			font-size: 18px;
			font-weight: 700;
			color: $darkGray;
			border-bottom: 4px solid $darkGray;
		}
	}

	.prices__button {
		display: inline-block;
		margin-top: 20px;
		margin-bottom: -40px;
		padding: 0;
		width: 100px;
		height: 100px;
		font-size: 14px;
		color: #FFF;
		line-height: 100px;
		border-radius: 50%;
		background-color: $mainColor;
		@include box-shadow(0 4px darken($mainColor, 10%));
		cursor: pointer;

		&:hover {
			background-color: lighten($mainColor, 10%);
			@include box-shadow(0 4px $mainColor);
		}
	}
}


// Blog

#home-blog {

	.row {
		margin-right: 0;
		margin-left: 0;
		padding-top: 15px;
	}

	h3 {
		color: $darkGray;
	}

	h5 {
		font-weight: 700;
		color: $mainColor;
	}
}


// Contact

#home-contact {
	margin-bottom: 30px;

	.row {
		margin-right: 0;
		margin-left: 0;
		padding-top: 20px;
	}

	.textBox {
		min-height: 203px;
		padding: 15px;
	}

	h3 {
		font-weight: 300;
		color: $mainColor;
	}
	p {
		color: $darkGray;
	}

	input, textarea {
		padding: 12px;
		font-family: 'secondaryFont';
		font-size: 16px;
		font-weight: 700;
		color: $secondaryColor;
		background-color: transparent;
		border-bottom: 4px solid $secondaryColor;
		@include transitionNormal(all);
		&:hover, &:focus {
			background-color: $secondaryColor;
			color: #FFF;
		}
	}

	textarea {
		min-height: 140px;
	}
}
