@import "compass";
@import "../variables/colorPalette";
@import "../variables/mixins";

$theme-gray-light: #E8E8E8;
$theme-gray-dark: #1E1E1E;

body {
	background-color: #FFF;
}

.site__wrapper {

	// Fonts

	h1 {
		color: var(--primary-color);
		font-weight: 700;
	}

	h2 {
		display: inline-block;
		position: relative;
		color: #FFF;
		line-height: 46px;
		font-weight: 700;
		text-align: center;

		&:before,
		&:after {
			position: absolute;
			content: "";
			top: 50%;
			width: 25px;
			height: 1px;
			background-color: #FFF;
		}

		&:before {
			left: -40px;
		}

		&:after {
			right: -40px;
		}
	}

	p {
		font-weight: 400;
		color: $theme-gray-dark;
	}

	// Layout

	.section__header {
		margin-top: 30px;

		.container {
			position: relative;
			text-align: center;
			background: $theme-gray-dark url("../../images/retro-tile.png") repeat scroll center;
			@include box-shadow(0 4px 4px -3px $darkGray);

			.section__badge {
				position: absolute;
				margin-top: -40px;
				margin-left: 25px;
				width: 80px;
				height: 80px;
				top: 50%;
				left: 15px;
				font-size: 30px;
				font-weight: 700;
				color: #FFF;
				line-height: 0.8;
				background-color: var(--secondary-color);
				border-radius: 50%;
				@include box-shadow(0 0 4px rgba(0,0,0,0.8));

				&:before {
					display: inline-block;
					margin-top: 20px;
					margin-bottom: 10px;
					padding-top: 5px;
					padding-bottom: 5px;
					border-top: 1px solid #FFF;
					border-bottom: 1px solid #FFF;
					-ms-transform: skew(0,-8deg); /* IE 9 */
			    -webkit-transform: skew(0,-8deg); /* Chrome, Safari, Opera */
			    transform: skew(0,-8deg);
				}
			}

			&:before,
			&:after {
				position: absolute;
				content: "";
				margin-top: -25px;
				top: 50%;
				border-top: 25px solid transparent;
				border-bottom: 25px solid transparent;
			}

			&:before {
				left: 0;
				border-left: 16px solid #FFF;
			}

			&:after {
				right: 0;
				border-right: 16px solid #FFF;
			}
		}
	}

	.section__body {
		padding: 20px 15px 15px;
		background-color: $theme-gray-light;
	}

	.section__button {
		padding: 0 15px;
		height: 40px;
		font-size: 18px;
		color: #FFF;
		font-weight: 700;
		line-height: 40px;
		border-radius: 20px;
		background-color: var(--primary-color);
	}


	// Footer

	footer {
		padding-top: 10px;
		background-color: var(--primary-color);
		p {
			color: #FFF;
		}
		.copyRight {
			text-align: right;
		}
	}
}

// fontVersus

#fonts-versus {

	.versus__tag {
		margin-bottom: 20px;

		span {
			padding: 5px 15px;
			border: 2px solid black;
		}
	}
}


// Nav bar

#home-nav {
	background: $theme-gray-dark url("../../images/retro-tile.png") repeat scroll center;

	.nav__logo {
		a {
			color: #FFF;
			background-color: var(--primary-color);

			&:hover {
				// background-color: lighten(var(--primary-color), 10%);
			}
		}
	}

	li a {
		color: #FFF;
	}
}


// Header

#home-header {
	background: #1a1a1a url("https://unsplash.it/1000/500?image=998") no-repeat fixed center;
	background-size: cover;
	text-align: center;

	.header__tag {

		h1 {
			position: relative;
			margin-top: 105px;
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 12px;
			padding-bottom: 5px;
			color: #FFF;

			&:before {
				margin-left: -15px;
				bottom: -3px;
				left: 50%;
				position: absolute;
				content: "";
				width: 30px;
				height: 3px;
				background-color: #FFF;
			}
		}

		h3 {
			color: #FFF;
			text-transform: uppercase;
			letter-spacing: 3px;
		}
	}

	.header__tag-inner {
		padding: 15px;
		width: 300px;
		height: 300px;
		background-color: var(--secondary-color);
		@include border-radius(50%);
	}

	p {
		margin: 20px auto 15px;
		max-width: 50%;
		color: #FFF;
	}

	.header__overlay {
		background-color: var(--tertiary-color);
		opacity: 0.3;
	}
}

// Skills

#home-skills {

	.section__badge:before {
		content: "12";
	}

	.row {
		margin-right: 0;
		margin-left: 0;
	}

	.skills__item {
		color: #FFF;
		text-align: center;

		h3 {
			position: relative;
			padding: 30px 0 15px;
			color: var(--primary-color);

			&:before {
				position: absolute;
				content: "";
				margin-left: -15px;
				width: 30px;
				height: 4px;
				left: 50%;
				bottom: -4px;
				background-color: var(--primary-color);
			}
		}

		p {
			margin-top: 15px;
			margin-bottom: 15px;
		}
	}
}


// History

#home-history {
	margin-top: 15px;
	margin-bottom: 15px;

	.section__badge:before {
		content: "34";
	}
}


// Random Words

#home-words {
	margin-top: 15px;
	margin-bottom: 15px;

	.section__badge:before {
		content: "56";
	}

	.wrapper {
		.row {
			margin-left: 0;
			margin-right: 0;
			padding-top: 30px;
		}
	}

	p {
		padding: 15px;
	}
}


// Team

#home-team {
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: $lightGray;
	border-bottom: 5px solid var(--primary-color);

	.container .wrapper {
		overflow: hidden;
		padding: 15px;
		border-radius: 7px;
	}

	.team__tag {
		margin-top: 80px;

		h1 {
			font-size: 76px;
			font-weight: 700;
			color: var(--primary-color);
			line-height: 0.8;
		}
	}

	h3 {
		margin-top: 5px;
		margin-bottom: 25px;
		padding-bottom: 5px;
		font-size: 28px;
		font-weight: 700;
		color: $darkGray;
		text-transform: uppercase;
		border-bottom: 4px solid $darkGray;
	}

	h4 {
		font-weight: 700;
	}

	h5 {
		z-index: 10;
		margin-bottom: 2px;
		font-weight: 700;
		color: var(--primary-color);
	}
}


// Prices

#home-prices {
	margin-bottom: 100px;

	.section__badge:before {
		content: "78";
	}

	.row {
		margin-right: 0;
		margin-left: 0;
	}

	h3 {
		font-weight: 700;
		color: var(--primary-color);
	}

	h4 {
		font-size: 18px;
		font-weight: 300;
		color: var(--tertiary-color);
		text-transform: uppercase;
	}

	.prices__tag {
		margin-bottom: 15px;
		font-family: var(--primary-font);
		font-weight: 700;
	}

	.prices__list {
		ul {
			text-align: left;

			li {
				font-size: 18px;
				font-weight: 700;
				color: $theme-gray-dark;
				border-bottom: 4px solid $theme-gray-dark;
			}
		}
	}

	.section__button {
		margin-top: 15px;
	}
}


// Blog

#home-blog {

	.section__badge:before {
		content: "09";
	}

	.row {
		margin-right: 0;
		margin-left: 0;
		padding-top: 15px;
	}

	h3 {
		color: $darkGray;
	}

	h5 {
		font-weight: 700;
		color: var(--primary-color);
	}
}


// Contact

#home-contact {
	margin-bottom: 30px;

	.section__badge:before {
		content: "10";
	}

	.textBox {
		min-height: 203px;
		padding: 15px;
	}

	h3 {
		font-weight: 300;
		color: var(--primary-color);
	}

	p {
		color: $theme-gray-dark;
	}

	.contact__icons {
		li {
			color: #FFF;
			background-color: var(--secondary-color);
			border-radius: 50%;
		}
	}

	input, textarea {
		padding: 12px;
		font-size: 16px;
		font-weight: 700;
		color: var(--secondary-color);
		background-color: transparent;
		border-bottom: 4px solid var(--secondary-color);
		@include transitionNormal(all);

		&:hover, &:focus {
			background-color: var(--secondary-color);
			color: #FFF;
		}
	}

	textarea {
		min-height: 140px;
	}
}
