@import "compass";
@import "../variables/mixins";

$theme-gray-light: #E8E8E8;
$theme-gray-dark: #1E1E1E;

body {
	background-color: #FFF;
}

// Fonts

.site__wrapper {
	h1 {
		color: var(--primary-color);
		font-weight: 700;
	}

	h2 {
		position: relative;
		margin: 8px 0;
		padding: 0;
		font-size: 36px;
		color: $theme-gray-dark;
		font-weight: 700;
	}

	p {
		font-weight: 400;
		color: $theme-gray-dark;
	}

	// Layout

	.section__header {
		margin-top: 30px;
	}

	.section__reload {
		color: #FFF;
		border-radius: 50%;
		background-color: var(--secondary-color);
	}

	.section__button {
		padding: 0 20px;
		font-size: 18px;
		color: var(--primary-color);
		font-weight: 700;
		text-transform: uppercase;
		line-height: 34px;
		background-color: transparent;
		border: 2px solid var(--primary-color);
		transition: all 0.4s ease-in-out;

		&:hover {
			color: #FFF;
			background-color: var(--primary-color);
		}
	}

	// Footer

	footer {
		padding-top: 10px;
		background-color: var(--primary-color);

		p {
			color: #FFF;
		}

		.footer__author {
			text-align: right;
		}
	}
}


// fontVersus

#fonts-versus {
	text-transform: uppercase;

	.versus__tag {
		margin-bottom: 20px;

		span {
			padding: 5px 15px;
			border: 2px solid black;
		}
	}
}


// Nav bar
#home-nav {
	background-color: $theme-gray-dark;

	.nav__logo {

		a {
			color: #FFF;
			background-color: var(--primary-color);

			&:hover {
				background-color: var(--primary-color); // lighten
			}
		}
	}

	.nav__item {
		a {
			color: #FFF;
			transition: color 0.5s ease;

			&:hover {
				color: var(--primary-color);
			}
		}
	}
}

// Header

#home-header {
	background: $theme-gray-dark url("https://unsplash.it/1920/600/?image=1082") no-repeat scroll center;
	background-size: cover;
	border-bottom: 10px solid var(--secondary-color);

	h1 {
		font-weight: 700;
		text-transform: uppercase;
	}

	p {
		margin-top: 20px;
		margin-bottom: 15px;
		max-width: 50%;
		color: #FFF;
	}

	.header__overlay {
		background-color: var(--secondary-color);
		opacity: 0.3;
	}
}


// Skills

#home-skills {

	.skills__item {
		color: #FFF;
		background-color: $theme-gray-light;

		h3 {
			position: relative;
			margin: 0;
			padding: 15px;
			color: var(--primary-color);

			&:before {
				content: "";
				position: absolute;
				left: 15px;
				bottom: 0;
				width: 25px;
				height: 4px;
				background-color: var(--primary-color);
			}
		}

		p {
			padding: 15px;
			color: $theme-gray-dark;
		}
	}

	.section__button {
		margin: 0 15px 15px;
	}
}

// History

#home-history {
	margin-top: 15px;
	margin-bottom: 15px;

	.wrapper {
		background-color: #E8E8E8;
	}

	p {
		padding: 15px;
	}
}

// Random Words

#home-words {
	margin-top: 15px;
	margin-bottom: 15px;

	.wrapper {
		padding: 15px;
		background-color: #E8E8E8;
	}
}


// Team

#home-team {
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: $theme-gray-light;
	border-bottom: 5px solid var(--primary-color);

	.container .wrapper {
		overflow: hidden;
		padding: 15px;
		border-radius: 7px;
	}

	.team__tag {
		margin-top: 80px;
	}

	.h1 {
		font-weight: 700;
		color: var(--primary-color);
	}

	li {
		& + li {
			margin-top: 25px;
		}
	}

	h3 {
		font-size: 28px;
		font-weight: 700;
		color: $theme-gray-dark;
		text-transform: uppercase;
		border-bottom: 4px solid $theme-gray-dark;
	}

	h5 {
		font-weight: 700;
	}
}

// Prices

#home-prices {
	margin-bottom: 100px;

	.prices__option {
		padding: 15px;
		background-color: $theme-gray-light
	}

	h3 {
		font-weight: 700;
		color: var(--primary-color);
	}

	h4 {
		font-weight: 300;
		color: var(--secondary-color);
		text-transform: uppercase;
	}

	.prices__tag {
		margin-bottom: 15px;
		font-weight: 700;
		color: var(--tertiary-color);
	}

	.prices__list {
		ul {
			text-align: left;
		}

		li {
			font-size: 18px;
			font-weight: 700;
			color: $theme-gray-dark;
			border-bottom: 4px solid $theme-gray-dark;
		}
	}

	.section__button {
		margin-top: 20px;
	}
}


// Blog

#home-blog {

	.blog__item {
		padding: 15px;
		background-color: $theme-gray-light;
	}

	h3 {
		color: $theme-gray-dark;
	}

	h5 {
		font-weight: 700;
		color: var(--primary-color);
	}

	p {
		margin-top: 15px;
	}
}


// Contact

#home-contact {
	margin-bottom: 30px;

	.contact__message {
		padding: 15px;
		background-color: $theme-gray-light;
	}

	h3 {
		font-weight: 300;
		color: var(--primary-color);
	}

	p {
		color: $theme-gray-dark;
	}

	.contact__icons {
		li {
			border-radius: 50%;
			background-color: var(--secondary-color);

			span {
				color: #FFF;
			}
		}
	}

	input,
	textarea {
		padding: 12px;
		font-size: 16px;
		font-weight: 700;
		color: var(--secondary-color);
		background-color: transparent;
		border-bottom: 4px solid var(--secondary-color);
		transition: all 0.5s ease;

		&:hover, &:focus {
			background-color: var(--secondary-color);
			color: #FFF;
		}
	}

	textarea {
		min-height: 140px;
	}
}
