@import "compass";
@import "../variables/colorPalette";
@import "../variables/mixins";

// Mixins

$theme-color-border: rgba( 255, 255, 255, 0.2);
$theme-transparent-bg: rgba( 255, 255, 255, 0.1);
$theme-dark-bg: rgba($darkGray, 0.9);

@mixin boxShadowSite() {
	@include box-shadow(0 0 0 1px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(255, 255, 255, 0.1) inset, 0 0 8px 1px rgba(0, 0, 0, 0.5));
}

@mixin textShadowSite() {
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

@mixin glassBg (){
	background-color: $theme-transparent-bg;
	border: 1px solid $theme-color-border;
	@include box-shadow(0 0 4px 1px rgba(0, 0, 0, 0.3));
}

body {
	background-color: var(--tertiary-color);
}

.site__wrapper {

	// Fonts

	h1 {
		color: var(--primary-color);
		font-weight: 700;
		@include textShadowSite();
	}

	h2 {
		position: relative;
		margin: 8px 0;
		padding: 8px 0 12px;
		font-size: 28px;
		color: #FFF;
		font-weight: 300;
		text-align: center;
		text-align: center;
		background-color: $theme-dark-bg;
		@include boxShadowSite();
	}

	// Layout

}
// fontVersus

#fonts-versus {
	text-transform: uppercase;

	.versus__wrapper {
		padding: 5px 15px 0;
		border: 1px solid $theme-color-border;
		border-radius: 5px;
		background-color: rgba(0,0,0,0.2);
	}

	.versus__tag {
		margin-bottom: 20px;

		span {
			color: #FFF;
		}
	}
}


// Nav bar

#home-nav {
	position: absolute;
	width: 100%;
	background-color: $theme-transparent-bg;
	z-index: 1;
	border-top: 1px solid $theme-color-border;
	border-bottom: 1px solid $theme-color-border;

	.nav__logo {
		font-size: 24px;
		font-weight: 300;
		color: #FFF;
	}

	.nav__item {
		border-left: 1px solid $theme-color-border;

		&:last-child {
			border-right: 1px solid $theme-color-border;
		}

		a {
			font-weight: 300;
			color: #FFF;
			@include transitionNormal();

			&:hover {
				// background-color: rgba(var(--primary-color), 0.8);
			}
		}
	}
}

// Header

#home-header {
	background: #1a1a1a url("http://lorempixel.com/g/1920/600/nature/") no-repeat fixed center;
	background-size: cover;
	border-bottom: 1px solid $theme-color-border;

	h1 {
		font-weight: 700;
		text-transform: uppercase;
	}

	p {
		margin-top: 20px;
		margin-bottom: 15px;
		max-width: 50%;
		color: #FFF;
	}

	.header__overlay {
		background-color: var(--tertiary-color);
		opacity: 0.3;
	}
}

button {
	padding: 6px 20px;
	font-family: 'mainFont';
	font-size: 18px;
	color: #FFF;
	font-weight: 300;
	text-transform: capitalize;
	background-color: transparent;
	border-radius: 5px;
	border: none;
	// @include background-image(linear-gradient(var(--secondary-color), lighten(var(--secondary-color), 5%)));
	@include boxShadowSite();
	@include transitionSlow();
	&:hover {
		color: #FFF;
		// @include background-image(linear-gradient(lighten(var(--secondary-color), 5%), lighten(var(--secondary-color), 15%)));
	}
}

// Skills

#home-skills {
	.skills__item {
		// background-color: rgba(var(--tertiary-color), 0.85); // Darken
		@include boxShadowSite();
		z-index: 10;

		h3 {
			margin: 0;
			padding: 80px 15px 25px;
			font-weight: 300;
			color: #FFF;
			text-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
			background-image: url('http://lorempixel.com/400/200/')
		}

		.skills__item-description {
			padding-bottom: 20px;
		}

		p {
			margin: 0;
			padding: 15px;
			color: #FFF;
		}

		button {
			display: block;
			margin: 0 auto;
		}
	}
}


// history

#home-history {
	margin-top: 15px;
	margin-bottom: 15px;

	.wrapper {
		@include glassBg();
	}

	p {
		padding: 15px;
		color: #FFF;
	}
}


// Words

#home-words  {
	margin-top: 15px;
	margin-bottom: 15px;

	.words__list {
		padding: 15px;
		@include glassBg();
	}
}


// aboutUs

#home-team  {
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 20px 0;
	background-color: $theme-transparent-bg;
	border-top: 1px solid $theme-color-border;
	border-bottom: 1px solid $theme-color-border;

	.team__tag {
		margin-top: 80px;

		h1 {
			font-size: 76px;
			font-weight: 700;
			color: #FFF;
			line-height: 0.8;
			text-transform: uppercase;
		}
	}

	.team__people {
		li {
			padding: 10px;
			background-color: $theme-dark-bg;
			@include boxShadowSite();

			&:not(:first-child) {
				margin-top: 15px;
			}
		}
	}

	h3 {
		margin-top: 5px;
		font-size: 28px;
		font-weight: 700;
		color: #FFF;
	}

	h5 {
		font-weight: 300;
		color: var(--secondary-color);
	}
}


// Prices

#home-prices {
	h3 {
		color: #FFF;
	}

	h4 {
		color: var(--primary-color);
	}

	.prices__tag {
		margin-bottom: 15px;
		font-family: 'mainFont';
		font-weight: 700;
	}

	.prices__list {

		ul {
			margin-bottom: 20px;
			text-align: left;
			background-color: $theme-transparent-bg;
			border: 1px solid $theme-color-border;
		}

		li {
			margin: 0;
			padding: 8px 12px 4px;
			font-size: 18px;
			font-weight: 300;
			color: #FFF;
			border-bottom: 1px solid $theme-color-border;

			&:hover {
				color: #FFF;
				background-color: var(--primary-color);
			}

			&:last-child {
				border-bottom: none !important;
			}
		}
	}
}


// Blog

#home-blog {
	.row {
		margin-right: 0;
		margin-left: 0;
		padding: 15px 0;
		@include glassBg();

		h3 {
			color: var(--primary-color);
			font-weight: 300;
		}

		h5 {
			color: var(--secondary-color);
		}

		p {
			color: #FFF;
		}
	}
}


// Contact

#home-contact {

	.contact__message {
		padding: 15px;
		@include glassBg();
	}

	.contact__icons {
		li {
			border-radius: 50%;
			background-color: var(--secondary-color);
			@include boxShadowSite();

			span {
				color: #FFF;
			}
		}
	}

	.textBox {
		min-height: 203px;
		padding: 15px;
		@include glassBg();
	}

	h3 {
		font-weight: 300;
		color: var(--primary-color);
	}

	p {
		color: #FFF;
	}

	input, textarea {
		padding: 12px;
		font-family: 'secondaryFont';
		font-size: 16px;
		color: #FFF;
		background-color: $theme-dark-bg;
		border: 1px solid $theme-color-border;
		border-radius: 2px;
		@include transitionSlow(border);
		&:hover, &:focus {
			// border: 1px solid lighten(var(--secondary-color), 5%);
			outline: none;
			-webkit-appearance: none;
		}
	}

	textarea {
		min-height: 140px;
	}
}


// Footer

footer {
	padding-top: 10px;
	background-color: var(--primary-color);
	p {
		color: #FFF;
	}
	.copyRight {
		text-align: right;
	}
}
