@import "compass";
@import "../variables/colorPalette";
@import "../variables/mixins";

// Mixins

$borderColor: rgba( 255, 255, 255, 0.2);
$transparentBg: rgba( 255, 255, 255, 0.1);
$darkBackground: rgba($darkGray, 0.9);

@mixin boxShadowSite() {
	@include box-shadow(0 0 0 1px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(255, 255, 255, 0.1) inset, 0 0 8px 1px rgba(0, 0, 0, 0.5));
}

@mixin textShadowSite() {
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

@mixin glassBg (){
	background-color: $transparentBg;
	border: 1px solid $borderColor;
	@include box-shadow(0 0 4px 1px rgba(0, 0, 0, 0.3));
}



body {
	background-color: $fillColor;
}

// Fonts

h1 {
	color: $mainColor;
	font-weight: 700;
	@include textShadowSite();
}

h2 {
	font-family: 'secondaryFont';
	position: relative;
	margin: 8px 0;
	padding: 8px 0 12px;
	font-size: 28px;
	color: #FFF;
	font-weight: 300;
	text-align: center;
	text-align: center;
	background-color: $darkBackground;
	@include boxShadowSite();
}

#history p {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}

// Layout

.titleWrapper {
	margin-top: 30px;
	.container {
		.titleIcon {
			display: none;
		}
	}
}

// fontVersus

#fontsVersus {
	text-transform: uppercase;
	.wrapper {
		padding: 5px 15px 0;
		border: 1px solid $borderColor;
		border-radius: 5px;
		background-color: rgba(0,0,0,0.2);
	}
	.vsTag {
		margin-bottom: 20px;
	}
	.vsTagInner {
		color: #FFF;
	}
}

// Nav

#homeNav {
	position: absolute;
	width: 100%;
	background-color: $transparentBg;
	z-index: 10;
	border-top: 1px solid $borderColor;
	border-bottom: 1px solid $borderColor;
	.navbar-brand {
		font-family: 'mainFont';
		font-size: 24px;
		font-weight: 300;
		color: #FFF;
	}
	ul {
		li {
			border-left: 1px solid $borderColor;
			a {
				font-weight: 300;
				color: #FFF;
				@include transitionNormal();
				&:hover {
					background-color: rgba($mainColor, 0.8);
				}
			}
			&:last-child {
				border-right: 1px solid $borderColor;
			}
		}
	}
}

// Header

#header {
	background: #1a1a1a url("http://lorempixel.com/g/1920/600/nature/") no-repeat fixed center;
	background-size: cover;
	border-bottom: 1px solid $borderColor;
	h1 {
		font-weight: 700;
		text-transform: uppercase;
	}
	p {
		margin-top: 20px;
		margin-bottom: 15px;
		max-width: 50%;
		color: #FFF;
	}
	.headerOverlay {
		background-color: rgba($fillColor, 0.3);
	}
}

button {
	padding: 6px 20px;
	font-family: 'mainFont';
	font-size: 18px;
	color: #FFF;
	font-weight: 300;
	text-transform: capitalize;
	background-color: transparent;
	border-radius: 5px;
	border: none;
	@include background-image(linear-gradient($secondaryColor, lighten($secondaryColor, 5%)));
	@include boxShadowSite();
	@include transitionSlow();
	&:hover {
		color: #FFF;
		@include background-image(linear-gradient(lighten($secondaryColor, 5%), lighten($secondaryColor, 15%)));
	}
}

// Skills

#skills {
	.col-sm-4 {
		margin-top: 15px;
	}
}

.skillBox {
	background-color: rgba(darken($fillColor, 15%), 0.85);
	@include boxShadowSite();
	z-index: 10;
	h3 {
		margin: 0;
		padding: 80px 15px 25px;
		font-weight: 300;
		color: #FFF;
		text-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
		background-image: url('http://lorempixel.com/400/200/')
	}
	.bottomWrapper {
		padding-bottom: 20px;
	}
	p {
		margin: 0;
		padding: 15px;
		color: #FFF;
	}
	button {
		display: block;
		margin: 0 auto;
	}
}


// history

#history {
	margin-top: 15px;
	margin-bottom: 15px;
	.wrapper {
		@include glassBg();
	}
	p {
		padding: 15px;
		color: #FFF;
	}
}


// randomWords

#randomWords {
	margin-top: 15px;
	margin-bottom: 15px;
	.wrapper {
		.row {
			margin-left: 0;
			margin-right: 0;
			@include glassBg();
		}
	}
	p {
		padding: 15px;
	}
}


// aboutUs

#aboutUs {
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: $transparentBg;
	border-top: 1px solid $borderColor;
	border-bottom: 1px solid $borderColor;
	.container .wrapper{
		overflow: hidden;
		padding: 15px;
		border-radius: 7px;
	}
	.aboutUsTag {
		margin-top: 80px;
	}
	.aboutUsBig {
		font-family: 'mainFont';
		font-size: 76px;
		font-weight: 700;
		color: #FFF;
		line-height: 0.8;
		text-transform: uppercase;
	}
	.aboutUsPerson {
		margin-bottom: 10px;
		padding: 1px 8px;
		background-color: $darkBackground;
		border-radius: 7px;
		@include boxShadowSite();
	}
	h3 {
		margin-top: 5px;
		margin-bottom: 5px;
		padding-bottom: 5px;
		font-family: 'mainFont';
		font-size: 28px;
		font-weight: 700;
		color: #FFF;
	}
	h4 {
		font-weight: 300;
		color: $secondaryColor;
	}
	h6 {
		margin-bottom: 2px;
		font-family: 'mainFont';
		font-weight: 300;
		color: $secondaryColor;
	}
}


// Prices

#prices {
	h3 {
		color: #FFF;
	}
	h4 {
		color: $mainColor;
	}
	.priceTag {
		margin-bottom: 15px;
		font-family: 'mainFont';
		font-weight: 700;
	}
	ul {
		margin-bottom: 20px;
		text-align: left;
		background-color: $transparentBg;
		border: 1px solid $borderColor;
		li {
			margin: 0;
			padding: 8px 12px 4px;
			font-family: 'mainFont';
			font-size: 18px;
			font-weight: 300;
			color: #FFF;
			border-bottom: 1px solid $borderColor;
			&:hover {
				color: #FFF;
				background-color: $mainColor;
			}
			&:last-child {
				border-bottom: none !important;
			}
		}

	}
}


// Blog

#blogPosts {
	.row {
		margin-right: 0;
		margin-left: 0;
		@include glassBg();
		h3 {
			color: $mainColor;
			font-weight: 300;
		}
		h5 {
			color: $secondaryColor;
		}
		p {
			color: #FFF;
		}
	}
}


// Contact

#contact {
	.textBox {
		min-height: 203px;
		padding: 15px;
		@include glassBg();
	}
	h3 {
		font-weight: 300;
		color: $mainColor;
	}
	p {
		color: #FFF;
	}
	input, textarea {
		padding: 12px;
		font-family: 'secondaryFont';
		font-size: 16px;
		color: #FFF;
		background-color: $darkBackground;
		border: 1px solid $borderColor;
		border-radius: 2px;
		@include transitionSlow(border);
		&:hover, &:focus {
			border: 1px solid lighten($secondaryColor, 5%);
			outline: none;
			-webkit-appearance: none;
		}
	}
	textarea {
		min-height: 140px;
	}
}


// Footer

footer {
	padding-top: 10px;
	background-color: $mainColor;
	p {
		color: #FFF;
	}
	.copyRight {
		text-align: right;
	}
}
