@import "compass";
@import "../variables/colorPalette";
@import "../variables/mixins";

$theme-gray-light: #EEE;

body {
	background-color: $theme-gray-light;
}

.site__wrapper {
	h1 {
		color: var(--primary-color);
		font-weight: 300;
		text-transform: uppercase;
	}

	h2 {
		display: inline-block;
		margin: 40px 0 10px;
		padding: 6px 15px 4px;
		color: #FFF;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 3px;
		background-color: var(--tertiary-color);
		border-left: 6px solid var(--primary-color);
	}
}

// fontVersus

#fonts-versus {

	.versus__tag {
		margin-bottom: 20px;

		span {
			padding: 5px 15px;
			color: $theme-gray-light;
			background-color: var(--tertiary-color);
		}
	}

	.versus__primary,
	.versus__secondary {
		padding-right: 20px;
		padding-left: 20px;
		color: $theme-gray-light;
		font-weight: 300;
		text-transform: uppercase;
	}

	.versus__primary {
		background-color: var(--primary-color);
		border-left: 15px solid  var(--tertiary-color);
	}

	.versus__secondary {
		background-color: var(--secondary-color);
		border-left: 15px solid  var(--tertiary-color);
	}
}

// Nav

#home-nav {
	background-color: var(--tertiary-color);

	.nav__logo {
		font-size: 24px;
		font-weight: 300;
		color: $theme-gray-light;
	}

	ul {
		li {
			a {
				font-weight: 300;
				color: $theme-gray-light;
				text-transform: uppercase;
				@include transitionNormal();

				&:hover {
					padding-bottom: 10px;
					border-bottom: 5px solid var(--primary-color);
				}
			}
		}
	}
}

// Header

#home-header {
	background: #1a1a1a url("../images/escheresque_ste.png") repeat fixed center;

	.header__tag-inner {
		padding: 15px;
		background-color: var(--secondary-color);
		border-left: 8px solid var(--primary-color);

		h1, h3 {
			color: $theme-gray-light;
			text-align: left;
		}

		h1 {
			margin-bottom: 10px;
			color: #FFF;
		}

		h3 {
			text-transform: uppercase;
			letter-spacing: 3px;
		}
	}

	p {
		color: $theme-gray-light;
	}

	.header__button {
		padding: 6px 20px;
		font-size: 18px;
		color: $theme-gray-light;
		font-weight: 300;
		text-transform: capitalize;
		background-color: var(--secondary-color);
		border: none;

		&:hover {
			background-color: var(--secondary-color); //Lighten
		}
	}
}

// Skills

#home-skills {

	.skills__item {
		background-color: var(--tertiary-color);
	}

	h3 {
		margin-right: 15px;
		margin-left: 15px;
		padding: 30px 0 10px;
		color: $theme-gray-light;
		border-bottom: 1px solid var(--primary-color);
	}

	p {
		padding: 5px 15px;
		color: $theme-gray-light;
	}

	button {
		width: 100%;
	}
}

// About Us

#home-team {
	margin-bottom: 15px;
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: $darkGray;

	.team__tag {
		margin-top: 80px;

		h1 {
			font-size: 76px;
			font-weight: 300;
			color: var(--primary-color);
			line-height: 0.9;
			text-transform: uppercase;
		}

		h4 {
			color: $theme-gray-light;
			font-weight: 400;
			text-transform: uppercase;
		}
	}

	li {
		padding: 5px 10px;
		background-color: $lightGray;
		border-left: 5px solid var(--primary-color);

		& + li {
			margin-top: 12px;
		}
	}

	h3 {
		margin-top: 5px;
		margin-bottom: 5px;
		font-weight: 700;
		text-transform: uppercase;
		color: $darkGray;
	}

	h5 {
		margin-bottom: 2px;
		font-weight: 300;
		color: var(--primary-color);
		text-transform: uppercase;
	}
}


// Prices

#home-prices {

	.prices__option {
		padding-top: 5px;
		background-color: var(--tertiary-color);
	}

	h3 {
		font-weight: 300;
		color: $lightGray;
		text-transform: uppercase;
	}

	h4 {
		font-weight: 700;
		color: var(--primary-color);
		text-transform: uppercase;
	}

	.prices__tag {
		margin-bottom: 15px;
		font-family: 'mainFont';
		font-weight: 700;
	}

	ul {
		margin-bottom: 20px;
		padding-right: 15px;
		padding-left: 15px;

		li {
			margin: 0;
			padding: 8px 12px 4px;
			font-family: 'mainFont';
			font-size: 18px;
			font-weight: 300;
			color: $theme-gray-light;
			text-transform: uppercase;
			border-bottom: 1px solid var(--primary-color);

			&:last-child {
				border-bottom: none !important;
			}
		}
	}

	button {
		width: 100%;
	}
}

// Blog

#home-blog {

	h3 {
		font-weight: 300;
		color: $darkGray;
	}

	h5 {
		font-weight: 300;
		color: var(--primary-color);
		text-transform: uppercase;
	}
}

// Contact

#home-contact {

	.textBox {
		min-height: 203px;
	}

	h3 {
		font-weight: 300;
		color: var(--primary-color);
	}

	p {
		color: $darkGray;
	}

	input,
	textarea {
		padding: 10px;
		font-family: 'secondaryFont';
		font-size: 16px;
		font-weight: 300;
		color: #FFF;
		background-color: var(--tertiary-color);
		@include transitionSlow(border);

		&:hover, &:focus {
			outline: none;
			-webkit-appearance: none;
		}
	}

	textarea {
		min-height: 140px;
	}
}

// Footer
