body {
	--primary-color:#F53357;
	--secondary-color:#47384D;
	--tertiary-color:#3F585F;
}

ul {
	padding-left: 0;

	li {
		list-style: none;
	}
}

a {
	color: inherit;

	&:hover,
	&:hover {
		color: inherit;
		text-decoration: none;
	}
}

h1,h2,h3,h4,h5,h6,p {
	margin: 0;
}

input[type='text'] {
	width: 100%;
	border: none;

	&:focus {
		outline: none;
	}
}
