<div id="contact" class="section">
	<div class="titleWrapper">
		<div class="container">
			<div class="titleIcon"></div>
			<h2 class="contactTitle">Contact us</h2>
		</div>
	</div>
	<div class="container">
		<div class="wrapper">
			<div class="row">
				<div class="col-sm-4">
					<div class="textBox">
						<h3>Leave us a message</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi veritatis repellat autem quam sapiente id eligendi provident possimus odio voluptatem.</p>
					</div>
				</div>
				<div class="col-sm-8">
					<form action="" class="row">
						<div class="col-sm-6">
							<input name="textinput" type="text" placeholder="Your name" class="">
						</div>
						<div class="col-sm-6">
							<input name="textinput" type="mail" placeholder="Your email" class="">
						</div>
						<div class="col-sm-12">
							<textarea name="" id="" placeholder="Your message"></textarea>
						</div>
						<div class="col-sm-12">
						 <button id="singlebutton" name="singlebutton" class="pull-right">Send</button>
						 <button id="singlebutton" name="singlebutton" class="pull-right">Reset</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
