<div id="aboutUs" class="section">
	<div class="container">
		<div class="wrapper">
			<div class="row">
				<div class="col-sm-5 aboutUsTag">
					<span class="aboutUsBig">
						This is who we are.
					</span>
					<h4>
						A group of dedicated people doing what we know best.
					</h4>
				</div>
				<div class="col-sm-offset-1 col-sm-6 aboutUsPeople">
					<div class="aboutUsPerson">
						<h6 class="aboutUsTitle">Screenwritter</h6>
						<h3 class="aboutUsName">Johan Sebastián Bach</h3>
					</div>
					<div class="aboutUsPerson">
						<h6 class="aboutUsTitle">Editing</h6>
						<h3 class="aboutUsName">Arnold Schwarzenegger</h3>
					</div>
					<div class="aboutUsPerson">
						<h6 class="aboutUsTitle">Director</h6>
						<h3 class="aboutUsName">Ludwig van Beethoven</h3>
					</div>
					<div class="aboutUsPerson">
						<h6 class="aboutUsTitle">Music</h6>
						<h3 class="aboutUsName">Wolfgang Amadeus Mozart</h3>
					</div>
					<div class="aboutUsPerson">
						<h6 class="aboutUsTitle">Photography</h6>
						<h3 class="aboutUsName">Luke Skywalker</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
