<header class="contentWrapper" id="header">
	<div class="headerOverlay"></div>
	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<div class="headerTag">
					<div class="headerTagInner">
						<h1>Our company</h1>
						<h3>Bringing you the best</h3>
					</div>
				</div>
				<h1 class="headerTitle">This is some text</h1>
				<p class="headerP">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, libero, unde, natus, facilis neque deserunt adipisci optio officiis iste quam eum nulla nihil consequuntur aut.</p>
				<button class="headerButton">Go for it</button>
			</div>
		</div>
	</div>
</header>
