<div id="skills" class="section">
	<div class="titleWrapper">
		<div class="container">
			<div class="titleIcon"></div>
			<h2 class="skillsTitle">Our skills</h2>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="skillBox">
					<h3 class="skillsSub">First skill</h3>
					<div class="bottomWrapper">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur incidunt sapiente ipsum modi ex quod.</p>
						<button class="skillsButton">View more</button>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="skillBox">
					<h3 class="skillsSub">Second skill</h3>
					<div class="bottomWrapper">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur incidunt sapiente ipsum modi ex quod.</p>
						<button class="skillsButton">View more</button>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="skillBox">
					<h3 class="skillsSub">Third skill</h3>
					<div class="bottomWrapper">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur incidunt sapiente ipsum modi ex quod.</p>
						<button class="skillsButton">View more</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
