<div id="prices" class="section">
	<div class="titleWrapper">
		<div class="container">
			<div class="titleIcon"></div>
			<h2 class="pricesTitle">Our prices</h2>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="pricesBox">
					<h3 class="pricesSub">Simple <br>plan</h3>
					<h4>Your name</h4>
					<span class="priceTag">$120</span>
					<div class="bottomWrapper">
						<ul>
							<li>First feature</li>
							<li>Important stuff</li>
							<li>Longer availability</li>
							<li>Let's you be awesome</li>
							<li>Infernal strategy</li>
						</ul>
						<button class="pricesButton">Purchase</button>
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="pricesBox">
					<h3 class="pricesSub">Complex <br>plan</h3>
					<h4>Your name</h4>
					<span class="priceTag">$320</span>
					<div class="bottomWrapper">
						<ul>
							<li>First feature</li>
							<li>Important stuff</li>
							<li>Longer availability</li>
							<li>Let's you be awesome</li>
							<li>Infernal strategy</li>
						</ul>
						<button class="pricesButton">Purchase</button>
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="pricesBox">
					<h3 class="pricesSub">Expensive <br>plan</h3>
					<h4>Your name</h4>
					<span class="priceTag">$540</span>
					<div class="bottomWrapper">
						<ul>
							<li>First feature</li>
							<li>Important stuff</li>
							<li>Longer availability</li>
							<li>Let's you be awesome</li>
							<li>Infernal strategy</li>
						</ul>
						<button class="pricesButton">Purchase</button>
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="pricesBox">
					<h3 class="pricesSub">Oblivion <br>plan</h3>
					<h4>Your name</h4>
					<span class="priceTag">$666</span>
					<div class="bottomWrapper">
						<ul>
							<li>First feature</li>
							<li>Important stuff</li>
							<li>Longer availability</li>
							<li>Let's you be awesome</li>
							<li>Infernal strategy</li>
						</ul>
						<button class="pricesButton">Purchase</button>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
