<section id="home-team">
	<div class="container">
		<div class="wrapper">
			<div class="row">
				<div class="team__tag col-sm-5">
					<h1>
						This is who we are.
					</h1>
					<h4>
						A group of dedicated people doing what we know best.
					</h4>
				</div>
				<ul class="team__people col-sm-offset-1 col-sm-6">
					<li>
						<h5>Screenwritter</h5>
						<h3>Johan Sebastián Bach</h3>
					</li>
					<li>
						<h5>Editing</h5>
						<h3>Arnold Schwarzenegger</h3>
					</li>
					<li>
						<h5>Director</h5>
						<h3>Ludwig van Beethoven</h3>
					</li>
					<li>
						<h5>Music</h5>
						<h3>Wolfgang Amadeus Mozart</h3>
					</li>
					<li>
						<h5>Photography</h5>
						<h3>Luke Skywalker</h3>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
