<div ng-controller="MenuCtrl as menu">
	<span class="fr-side-menu__open"
		ng-click="menu.showSideMenu = true">
		<i class="fa fa-cogs"></i>
	</span>

	<div class="fr-theme-select">
		<p class="fr-theme-select__title" ng-click="menu.showThemesMenu = !menu.showThemesMenu">{{ themes.current }} <i class="fa fa-caret-down"></i></p>
		<ul ng-show="menu.showThemesMenu" ng-click="menu.showThemesMenu = false">
			<li ng-repeat="theme in menu.premadeThemes" ng-click="themes.current = theme.name">{{ theme.name }}</li>
		</ul>
	</div>

	<nav class="fr-side-menu"
		ng-class="{ 'side-menu--show' : menu.showSideMenu }">

		<header>
			<img class="side-menu__logo" src="images/fontrun-logo-white.svg" alt="fontRun logo white"
				ng-click="menu.showAboutModal = true">

			<div class="side-menu__view">
				<p>Current view</p>
				<div>
					<a ng-href="#!/"
						ng-class="{ 'side-menu__view-item' : view.current === 'theme' }">
						<span>Theme</span>
					</a>
					<a ng-href="#!/test"
						ng-class="{ 'side-menu__view-item' : view.current === 'card' }">
						<span>Cards</span>
					</a>
				</div>
			</div>

			<span class="side-menu__close"
				ng-click="menu.showSideMenu = false">
				<i class="fa fa-close"></i>
			</span>
		</header>

		<ul class="side-menu__content">
			<li class="side-menu__font-select">
				<p class="side-menu__title side-menu__title--collapsable" ng-click="menu.hideSelectedFonts = !menu.hideSelectedFonts">Selected fonts <span><i class="fa" ng-class="'fa-chevron-' + (menu.hideSelectedFonts ? 'down' : 'up')"></i></span></p>
				<ul ng-hide="menu.hideSelectedFonts">
					<li>
						<p class="side-menu__title -h4">MAIN FONT</p>
						<input class="side-menu__input -h2" type="text" ng-model="fonts.primary">
					</li>
					<span class="side-menu__font-switch"
						ng-click="menu.switchFonts()">
						<span class="fa fa-exchange fa-rotate-90"></span>
					</span>
					<li>
						<p class="side-menu__title -h4">SECONDARY FONT</p>
						<input class="side-menu__input -h2" type="text" ng-model="fonts.secondary">
					</li>
				</ul>
			</li>

			<li>
				<p class="side-menu__title side-menu__title--collapsable" ng-click="menu.hideColorPallete = !menu.hideColorPallete">Color pallette <span><i class="fa" ng-class="'fa-chevron-' + (menu.hideColorPallete ? 'down' : 'up')"></i></span></p>
				<ul class="side-menu__selected-colors"
					ng-hide="menu.hideColorPallete">
					<li>
						<span ng-style="{ 'background-color': '#'+colors.primary }"></span>
						<i>#</i>
						<input class="side-menu__input side-menu__input--color" type="text" ng-model="colors.primary">
					</li>
					<li>
						<span ng-style="{ 'background-color': '#'+colors.secondary }"></span>
						<i>#</i>
						<input class="side-menu__input side-menu__input--color" type="text" ng-model="colors.secondary">
					</li>
					<li>
						<span ng-style="{ 'background-color': '#'+colors.tertiary }"></span>
						<i>#</i>
						<input class="side-menu__input side-menu__input--color" type="text" ng-model="colors.tertiary">
					</li>
				</ul>
			</li>

			<li>
				<p class="side-menu__title side-menu__title--collapsable" ng-click="menu.hideSchemes = !menu.hideSchemes">Schemes <span><i class="fa" ng-class="'fa-chevron-' + (menu.hideSchemes ? 'down' : 'up')"></i></span></p>
				<ul class="side-menu__loaded-schemes"
					ng-hide="menu.hideSchemes">
					<li class="side-menu__loaded-scheme"
						ng-click="menu.setScheme( scheme )"
						ng-repeat="scheme in menu.schemes">
						<p class="loaded-scheme__font">{{ scheme.primaryFont }}</p>
						<p class="loaded-scheme__font">{{ scheme.secondaryFont }}</p>
						<ul class="loaded-scheme__colors">
							<li ng-style="{ 'background-color' : '#' + scheme.primaryColor}"></li>
							<li ng-style="{ 'background-color' : '#' + scheme.secondaryColor}"></li>
							<li ng-style="{ 'background-color' : '#' + scheme.tertiaryColor}"></li>
						</ul>
						<span class="loaded-scheme__delete" ng-click="menu.deleteScheme( $index )"><i class="fa fa-close"></i></span>
					</li>

					<li class="side-menu__loaded-scheme"
						ng-click="menu.saveCurrentScheme()">
						<span class="loaded-scheme__add"><i class="fa fa-plus"></i></span>
					</li>
				</ul>
			</li>
		</ul>

		<footer>
			<span>Developed by <a href="http://ohsebastian.com" target="_blank">Sebastián Holgado</a></span>
		</footer>
	</nav>

	<div class="fr-modal" ng-class="{ 'modal--show' : menu.showAboutModal }">
		<div class="modal__container">
			<header>
				<p class="-h1">About FontRun</p>
				<span class="modal__close"
					ng-click="menu.showAboutModal = false">
					<i class="fa fa-close"></i>
				</span>
			</header>
			<div class="modal__body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae id minima quod accusamus impedit molestias velit voluptatem nostrum iste consequuntur laudantium tempore neque, rerum, distinctio, inventore ab iusto laborum cupiditate nulla dolor quidem reiciendis et nisi perspiciatis. Nostrum non, praesentium excepturi deserunt obcaecati, totam dolorum, voluptatem repellat vero voluptatum magnam.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae id minima quod accusamus impedit molestias velit voluptatem nostrum iste consequuntur laudantium tempore neque, rerum, distinctio, inventore ab iusto laborum cupiditate nulla dolor quidem reiciendis et nisi perspiciatis. Nostrum non, praesentium excepturi deserunt obcaecati, totam dolorum, voluptatem repellat vero voluptatum magnam.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae id minima quod accusamus impedit molestias velit voluptatem nostrum iste consequuntur laudantium tempore neque, rerum, distinctio, inventore ab iusto laborum cupiditate nulla dolor quidem reiciendis et nisi perspiciatis. Nostrum non, praesentium excepturi deserunt obcaecati, totam dolorum, voluptatem repellat vero voluptatum magnam.</p>
			</div>
		</div>
	</div>
</div>
