<section id="home-blog">
	<div class="section__header">
		<div class="container">
			<span class="section__badge"></span>
			<h2 class="section__title">Some blog posts</h2>
			<span class="section__reload" ng-click="main.setBlogPosts()"><i class="fa fa-refresh"></i></span>
		</div>
	</div>

	<div class="container">
		<div class="section__body wrapper">
			<ul class="row">
				<li class="col-sm-4"
					ng-repeat="item in main.blogPosts">
					<div class="blog__item">
						<h3>{{ item.title }}</h3>
						<h5>{{ item.subtitle }}</h5>
						<p>{{ item.description }}</p>
					</div>
				</li>
			</div>
		</ul>
	</div>
</section>
