/* line 7, ../../../app/styles/themes/theme-agnostic.scss */
body {
  background-color: #FFF;
}

/* line 14, ../../../app/styles/themes/theme-agnostic.scss */
.site__wrapper h1 {
  color: var(--primary-color);
  font-weight: 700;
}
/* line 19, ../../../app/styles/themes/theme-agnostic.scss */
.site__wrapper h2 {
  position: relative;
  margin: 8px 0;
  padding: 0;
  font-size: 36px;
  color: #1E1E1E;
  font-weight: 700;
}
/* line 28, ../../../app/styles/themes/theme-agnostic.scss */
.site__wrapper p {
  font-weight: 400;
  color: #1E1E1E;
}
/* line 35, ../../../app/styles/themes/theme-agnostic.scss */
.site__wrapper .section__header {
  margin-top: 30px;
}
/* line 39, ../../../app/styles/themes/theme-agnostic.scss */
.site__wrapper .section__reload {
  color: #FFF;
  border-radius: 50%;
  background-color: var(--secondary-color);
}
/* line 45, ../../../app/styles/themes/theme-agnostic.scss */
.site__wrapper .section__button {
  padding: 0 20px;
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 34px;
  background-color: transparent;
  border: 2px solid var(--primary-color);
  transition: all 0.4s ease-in-out;
}
/* line 56, ../../../app/styles/themes/theme-agnostic.scss */
.site__wrapper .section__button:hover {
  color: #FFF;
  background-color: var(--primary-color);
}
/* line 64, ../../../app/styles/themes/theme-agnostic.scss */
.site__wrapper footer {
  padding-top: 10px;
  background-color: var(--primary-color);
}
/* line 68, ../../../app/styles/themes/theme-agnostic.scss */
.site__wrapper footer p {
  color: #FFF;
}
/* line 72, ../../../app/styles/themes/theme-agnostic.scss */
.site__wrapper footer .footer__author {
  text-align: right;
}

/* line 81, ../../../app/styles/themes/theme-agnostic.scss */
#fonts-versus {
  text-transform: uppercase;
}
/* line 84, ../../../app/styles/themes/theme-agnostic.scss */
#fonts-versus .versus__tag {
  margin-bottom: 20px;
}
/* line 87, ../../../app/styles/themes/theme-agnostic.scss */
#fonts-versus .versus__tag span {
  padding: 5px 15px;
  border: 2px solid black;
}

/* line 96, ../../../app/styles/themes/theme-agnostic.scss */
#home-nav {
  background-color: #1E1E1E;
}
/* line 101, ../../../app/styles/themes/theme-agnostic.scss */
#home-nav .nav__logo a {
  color: #FFF;
  background-color: var(--primary-color);
}
/* line 105, ../../../app/styles/themes/theme-agnostic.scss */
#home-nav .nav__logo a:hover {
  background-color: var(--primary-color);
}
/* line 112, ../../../app/styles/themes/theme-agnostic.scss */
#home-nav .nav__item a {
  color: #FFF;
  transition: color 0.5s ease;
}
/* line 116, ../../../app/styles/themes/theme-agnostic.scss */
#home-nav .nav__item a:hover {
  color: var(--primary-color);
}

/* line 125, ../../../app/styles/themes/theme-agnostic.scss */
#home-header {
  background: #1E1E1E url("https://unsplash.it/1920/600/?image=1082") no-repeat scroll center;
  background-size: cover;
  border-bottom: 10px solid var(--secondary-color);
}
/* line 130, ../../../app/styles/themes/theme-agnostic.scss */
#home-header h1 {
  font-weight: 700;
  text-transform: uppercase;
}
/* line 135, ../../../app/styles/themes/theme-agnostic.scss */
#home-header p {
  margin-top: 20px;
  margin-bottom: 15px;
  max-width: 50%;
  color: #FFF;
}
/* line 142, ../../../app/styles/themes/theme-agnostic.scss */
#home-header .header__overlay {
  background-color: var(--secondary-color);
  opacity: 0.3;
}

/* line 153, ../../../app/styles/themes/theme-agnostic.scss */
#home-skills .skills__item {
  color: #FFF;
  background-color: #E8E8E8;
}
/* line 157, ../../../app/styles/themes/theme-agnostic.scss */
#home-skills .skills__item h3 {
  position: relative;
  margin: 0;
  padding: 15px;
  color: var(--primary-color);
}
/* line 163, ../../../app/styles/themes/theme-agnostic.scss */
#home-skills .skills__item h3:before {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 0;
  width: 25px;
  height: 4px;
  background-color: var(--primary-color);
}
/* line 174, ../../../app/styles/themes/theme-agnostic.scss */
#home-skills .skills__item p {
  padding: 15px;
  color: #1E1E1E;
}
/* line 180, ../../../app/styles/themes/theme-agnostic.scss */
#home-skills .section__button {
  margin: 0 15px 15px;
}

/* line 187, ../../../app/styles/themes/theme-agnostic.scss */
#home-history {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 191, ../../../app/styles/themes/theme-agnostic.scss */
#home-history .wrapper {
  background-color: #E8E8E8;
}
/* line 195, ../../../app/styles/themes/theme-agnostic.scss */
#home-history p {
  padding: 15px;
}

/* line 202, ../../../app/styles/themes/theme-agnostic.scss */
#home-words {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 206, ../../../app/styles/themes/theme-agnostic.scss */
#home-words .wrapper {
  padding: 15px;
  background-color: #E8E8E8;
}

/* line 215, ../../../app/styles/themes/theme-agnostic.scss */
#home-team {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #E8E8E8;
  border-bottom: 5px solid var(--primary-color);
}
/* line 221, ../../../app/styles/themes/theme-agnostic.scss */
#home-team .container .wrapper {
  overflow: hidden;
  padding: 15px;
  border-radius: 7px;
}
/* line 227, ../../../app/styles/themes/theme-agnostic.scss */
#home-team .team__tag {
  margin-top: 80px;
}
/* line 231, ../../../app/styles/themes/theme-agnostic.scss */
#home-team .h1 {
  font-weight: 700;
  color: var(--primary-color);
}
/* line 237, ../../../app/styles/themes/theme-agnostic.scss */
#home-team li + li {
  margin-top: 25px;
}
/* line 242, ../../../app/styles/themes/theme-agnostic.scss */
#home-team h3 {
  font-size: 28px;
  font-weight: 700;
  color: #1E1E1E;
  text-transform: uppercase;
  border-bottom: 4px solid #1E1E1E;
}
/* line 250, ../../../app/styles/themes/theme-agnostic.scss */
#home-team h5 {
  font-weight: 700;
}

/* line 257, ../../../app/styles/themes/theme-agnostic.scss */
#home-prices {
  margin-bottom: 100px;
}
/* line 260, ../../../app/styles/themes/theme-agnostic.scss */
#home-prices .prices__option {
  padding: 15px;
  background-color: #E8E8E8;
}
/* line 265, ../../../app/styles/themes/theme-agnostic.scss */
#home-prices h3 {
  font-weight: 700;
  color: var(--primary-color);
}
/* line 270, ../../../app/styles/themes/theme-agnostic.scss */
#home-prices h4 {
  font-weight: 300;
  color: var(--secondary-color);
  text-transform: uppercase;
}
/* line 276, ../../../app/styles/themes/theme-agnostic.scss */
#home-prices .prices__tag {
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--tertiary-color);
}
/* line 283, ../../../app/styles/themes/theme-agnostic.scss */
#home-prices .prices__list ul {
  text-align: left;
}
/* line 287, ../../../app/styles/themes/theme-agnostic.scss */
#home-prices .prices__list li {
  font-size: 18px;
  font-weight: 700;
  color: #1E1E1E;
  border-bottom: 4px solid #1E1E1E;
}
/* line 295, ../../../app/styles/themes/theme-agnostic.scss */
#home-prices .section__button {
  margin-top: 20px;
}

/* line 305, ../../../app/styles/themes/theme-agnostic.scss */
#home-blog .blog__item {
  padding: 15px;
  background-color: #E8E8E8;
}
/* line 310, ../../../app/styles/themes/theme-agnostic.scss */
#home-blog h3 {
  color: #1E1E1E;
}
/* line 314, ../../../app/styles/themes/theme-agnostic.scss */
#home-blog h5 {
  font-weight: 700;
  color: var(--primary-color);
}
/* line 319, ../../../app/styles/themes/theme-agnostic.scss */
#home-blog p {
  margin-top: 15px;
}

/* line 327, ../../../app/styles/themes/theme-agnostic.scss */
#home-contact {
  margin-bottom: 30px;
}
/* line 330, ../../../app/styles/themes/theme-agnostic.scss */
#home-contact .contact__message {
  padding: 15px;
  background-color: #E8E8E8;
}
/* line 335, ../../../app/styles/themes/theme-agnostic.scss */
#home-contact h3 {
  font-weight: 300;
  color: var(--primary-color);
}
/* line 340, ../../../app/styles/themes/theme-agnostic.scss */
#home-contact p {
  color: #1E1E1E;
}
/* line 345, ../../../app/styles/themes/theme-agnostic.scss */
#home-contact .contact__icons li {
  border-radius: 50%;
  background-color: var(--secondary-color);
}
/* line 349, ../../../app/styles/themes/theme-agnostic.scss */
#home-contact .contact__icons li span {
  color: #FFF;
}
/* line 355, ../../../app/styles/themes/theme-agnostic.scss */
#home-contact input,
#home-contact textarea {
  padding: 12px;
  font-size: 16px;
  font-weight: 700;
  color: var(--secondary-color);
  background-color: transparent;
  border-bottom: 4px solid var(--secondary-color);
  transition: all 0.5s ease;
}
/* line 365, ../../../app/styles/themes/theme-agnostic.scss */
#home-contact input:hover, #home-contact input:focus,
#home-contact textarea:hover,
#home-contact textarea:focus {
  background-color: var(--secondary-color);
  color: #FFF;
}
/* line 371, ../../../app/styles/themes/theme-agnostic.scss */
#home-contact textarea {
  min-height: 140px;
}
