/*$mainColor: #33FFE6;
$secondaryColor: #FF2789;
$fillColor: #2B2E3A;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #037E8C;
$secondaryColor: #F24C27;
$fillColor: #024959;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #FF3D7F;
$secondaryColor: #3FB8AF;
$fillColor: #7FC7AF;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #D44F3D;
$secondaryColor: #1C152E;
$fillColor: #DCAB40;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #FF2EFF;
$secondaryColor: #D4DC14;
$fillColor: #4DDA9E;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #ef4b54;
$secondaryColor: #268180;
$fillColor: #f8e1b2;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;
*/
/*$mainColor: #CC4452;
$secondaryColor: #723147;
$fillColor: #E6B098;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #FEB41C;
$secondaryColor: #363F45;
$fillColor: #5E7C88;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #FC4349;
$secondaryColor: #6DBCDB;
$fillColor: #2C3E50;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #D96666;
$secondaryColor: #F2E5A2;
$fillColor: #81AC8B;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;
*/
/*$mainColor: #588C8C;
$secondaryColor: #D9042B;
$fillColor: #011C26;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #45B29D;
$secondaryColor: #DF5A49;
$fillColor: #334D5C;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #E27A3F;
$secondaryColor: #DF5A49;
$fillColor: #45B29D;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #DF5A49;
$secondaryColor: #45B29D;
$fillColor: #334D5C;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #B296BC;
$secondaryColor: #00BACF;
$fillColor: #8F8A8C;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/* $mainColor: #56D9CD;
$secondaryColor: #4588D8;
$fillColor: #4588D8;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E; */
/*$mainColor: #4588D8;
$secondaryColor: #5dffea;
$fillColor: #4588D8;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #56D9CD;
$secondaryColor: #4588D8;
$accentColor: #F2385A;
// $fillColor: #0c4d8d;
$fillColor: #002635;

$lightGray: #f1f1f1;
$mediumGray: #636363;
$darkGray: #323232;*/
/* line 5, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper {
  background-color: #E8E8E8;
}

/* line 12, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper h1 {
  color: #F53357;
  font-weight: 700;
}
/* line 17, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper h2 {
  position: relative;
  margin: 10px 0;
  padding: 25px 0;
  font-size: 36px;
  color: #FFF;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
/* line 26, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper h2:before {
  position: absolute;
  content: "";
  top: -1px;
  left: 50%;
  margin-left: -38px;
  width: 76px;
  height: 1px;
  background-color: #FFF;
}
/* line 36, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper h2:after {
  position: absolute;
  content: "";
  bottom: -1px;
  left: 50%;
  margin-left: -38px;
  width: 76px;
  height: 1px;
  background-color: #FFF;
}
/* line 48, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper #history p {
  -moz-column-count: 4;
  column-count: 4;
}

/* line 57, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper .titleWrapper {
  position: relative;
  padding-top: 120px;
  padding-bottom: 130px;
  background: #1a1a1a url("http://lorempixel.com/g/1920/600/") no-repeat scroll center;
}
/* line 62, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper .titleWrapper:before {
  position: absolute;
  content: "";
  margin-top: -120px;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.4);
}

/* line 75, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper #fontsVersus {
  text-transform: uppercase;
}
/* line 77, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper #fontsVersus .vsTag {
  margin-bottom: 20px;
}
/* line 80, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper #fontsVersus .vsTagInner {
  padding: 5px 15px;
  border: 2px solid black;
}

/* line 88, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper #header {
  background: #1a1a1a url("http://lorempixel.com/g/1920/600/nature/") no-repeat fixed center;
  background-size: cover;
  border-bottom: 10px solid #3F585F;
}
/* line 93, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper #header .headerTag .headerTagInner {
  padding: 20px;
  border: 3px solid #F53357;
  transition-property: "all";
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
/* line 97, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper #header .headerTag .headerTagInner:hover {
  background-color: #F53357;
}
/* line 99, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper #header .headerTag .headerTagInner:hover h1, .site__wrapper #header .headerTag .headerTagInner:hover h3 {
  color: #FFF;
}
/* line 102, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper #header .headerTag .headerTagInner:hover h1 {
  border-bottom: 1px solid #FFF;
}
/* line 107, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper #header .headerTag h1 {
  padding-bottom: 5px;
  border-bottom: 1px solid #F53357;
  transition-property: "all";
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
/* line 112, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper #header .headerTag h3 {
  color: #F53357;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition-property: "all";
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
/* line 119, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper #header h1 {
  font-weight: 700;
  text-transform: uppercase;
}
/* line 123, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper #header p {
  margin-top: 20px;
  margin-bottom: 15px;
  max-width: 50%;
  color: #FFF;
}
/* line 129, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper #header .headerOverlay {
  background-color: rgba(63, 88, 95, 0.3);
}
/* line 134, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper button {
  padding: 6px 20px;
  font-family: 'secondaryFont';
  font-size: 18px;
  color: #47384D;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #47384D;
  transition: all 0.4s ease-in-out;
}
/* line 144, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper button:hover {
  color: #FFF;
  background-color: #47384D;
}

/* line 155, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper #skills .col-sm-4 {
  margin-top: 15px;
}
/* line 160, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper .skillBox {
  color: #FFF;
  border-radius: 7px;
  text-align: center;
}
/* line 164, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper .skillBox h3 {
  margin: 0;
  padding: 50px 15px 15px;
  color: #47384D;
}
/* line 169, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper .skillBox .bottomWrapper {
  border-top: 1px solid #3F585F;
  border-bottom: 1px solid #3F585F;
}
/* line 173, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper .skillBox p {
  margin: 0;
  padding: 15px;
  position: relative;
  color: #3F585F;
}
/* line 179, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper .skillBox button {
  margin-bottom: 10px;
  padding: 0;
  font-family: 'secondaryFont';
  font-size: 18px;
  color: #1E1E1E;
  font-weight: 300;
  text-transform: lowercase;
  background-color: transparent;
  border: none;
}
/* line 189, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper .skillBox button:hover {
  color: #624d6b;
}

/* line 199, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper #history {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 202, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper #history h2 {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 207, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper #history p {
  padding: 15px;
}

/* line 216, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper #randomWords {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 220, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper #randomWords .wrapper .row {
  margin-left: 0;
  margin-right: 0;
}
/* line 225, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper #randomWords h2 {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 230, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper #randomWords p {
  padding: 15px;
}

/* line 239, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper #aboutUs {
  margin-top: 15px;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #3F585F;
}
/* line 244, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper #aboutUs .aboutUsTag {
  margin-top: 80px;
}
/* line 247, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper #aboutUs .aboutUsBig {
  font-family: 'mainFont';
  font-size: 76px;
  font-weight: 700;
  color: #F53357;
  line-height: 0.8;
}
/* line 254, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper #aboutUs h3 {
  margin-top: 5px;
  margin-bottom: 25px;
  font-family: 'mainFont';
  font-weight: 700;
  color: #FFF;
}
/* line 261, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper #aboutUs h5 {
  margin-bottom: 2px;
  font-family: 'secondaryFont';
  font-weight: 300;
  color: #FFF;
}

/* line 273, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #F53357;
}
/* line 277, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper footer p {
  color: #FFF;
}
/* line 280, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper footer .copyRight {
  text-align: right;
}
