/*$mainColor: #33FFE6;
$secondaryColor: #FF2789;
$fillColor: #2B2E3A;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #037E8C;
$secondaryColor: #F24C27;
$fillColor: #024959;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #FF3D7F;
$secondaryColor: #3FB8AF;
$fillColor: #7FC7AF;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #D44F3D;
$secondaryColor: #1C152E;
$fillColor: #DCAB40;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #FF2EFF;
$secondaryColor: #D4DC14;
$fillColor: #4DDA9E;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #ef4b54;
$secondaryColor: #268180;
$fillColor: #f8e1b2;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;
*/
/*$mainColor: #CC4452;
$secondaryColor: #723147;
$fillColor: #E6B098;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #FEB41C;
$secondaryColor: #363F45;
$fillColor: #5E7C88;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #FC4349;
$secondaryColor: #6DBCDB;
$fillColor: #2C3E50;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #D96666;
$secondaryColor: #F2E5A2;
$fillColor: #81AC8B;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;
*/
/*$mainColor: #588C8C;
$secondaryColor: #D9042B;
$fillColor: #011C26;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #45B29D;
$secondaryColor: #DF5A49;
$fillColor: #334D5C;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #E27A3F;
$secondaryColor: #DF5A49;
$fillColor: #45B29D;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #DF5A49;
$secondaryColor: #45B29D;
$fillColor: #334D5C;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #B296BC;
$secondaryColor: #00BACF;
$fillColor: #8F8A8C;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/* $mainColor: #56D9CD;
$secondaryColor: #4588D8;
$fillColor: #4588D8;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E; */
/*$mainColor: #4588D8;
$secondaryColor: #5dffea;
$fillColor: #4588D8;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #56D9CD;
$secondaryColor: #4588D8;
$accentColor: #F2385A;
// $fillColor: #0c4d8d;
$fillColor: #002635;

$lightGray: #f1f1f1;
$mediumGray: #636363;
$darkGray: #323232;*/
/* line 7, ../../../app/styles/themes/theme-future.scss */
body {
  background-color: #EEE;
}

/* line 12, ../../../app/styles/themes/theme-future.scss */
.site__wrapper h1 {
  color: var(--primary-color);
  font-weight: 300;
  text-transform: uppercase;
}
/* line 18, ../../../app/styles/themes/theme-future.scss */
.site__wrapper h2 {
  display: inline-block;
  margin: 40px 0 10px;
  padding: 6px 15px 4px;
  color: #FFF;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: var(--tertiary-color);
  border-left: 6px solid var(--primary-color);
}

/* line 35, ../../../app/styles/themes/theme-future.scss */
#fonts-versus .versus__tag {
  margin-bottom: 20px;
}
/* line 38, ../../../app/styles/themes/theme-future.scss */
#fonts-versus .versus__tag span {
  padding: 5px 15px;
  color: #EEE;
  background-color: var(--tertiary-color);
}
/* line 45, ../../../app/styles/themes/theme-future.scss */
#fonts-versus .versus__primary,
#fonts-versus .versus__secondary {
  padding-right: 20px;
  padding-left: 20px;
  color: #EEE;
  font-weight: 300;
  text-transform: uppercase;
}
/* line 54, ../../../app/styles/themes/theme-future.scss */
#fonts-versus .versus__primary {
  background-color: var(--primary-color);
  border-left: 15px solid var(--tertiary-color);
}
/* line 59, ../../../app/styles/themes/theme-future.scss */
#fonts-versus .versus__secondary {
  background-color: var(--secondary-color);
  border-left: 15px solid var(--tertiary-color);
}

/* line 67, ../../../app/styles/themes/theme-future.scss */
#home-nav {
  background-color: var(--tertiary-color);
}
/* line 70, ../../../app/styles/themes/theme-future.scss */
#home-nav .nav__logo {
  font-size: 24px;
  font-weight: 300;
  color: #EEE;
}
/* line 78, ../../../app/styles/themes/theme-future.scss */
#home-nav ul li a {
  font-weight: 300;
  color: #EEE;
  text-transform: uppercase;
  transition-property: "all";
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
/* line 84, ../../../app/styles/themes/theme-future.scss */
#home-nav ul li a:hover {
  padding-bottom: 10px;
  border-bottom: 5px solid var(--primary-color);
}

/* line 95, ../../../app/styles/themes/theme-future.scss */
#home-header {
  background: #1a1a1a url("../images/escheresque_ste.png") repeat fixed center;
}
/* line 98, ../../../app/styles/themes/theme-future.scss */
#home-header .header__tag-inner {
  padding: 15px;
  background-color: var(--secondary-color);
  border-left: 8px solid var(--primary-color);
}
/* line 103, ../../../app/styles/themes/theme-future.scss */
#home-header .header__tag-inner h1, #home-header .header__tag-inner h3 {
  color: #EEE;
  text-align: left;
}
/* line 108, ../../../app/styles/themes/theme-future.scss */
#home-header .header__tag-inner h1 {
  margin-bottom: 10px;
  color: #FFF;
}
/* line 113, ../../../app/styles/themes/theme-future.scss */
#home-header .header__tag-inner h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
}
/* line 119, ../../../app/styles/themes/theme-future.scss */
#home-header p {
  color: #EEE;
}
/* line 123, ../../../app/styles/themes/theme-future.scss */
#home-header .header__button {
  padding: 6px 20px;
  font-size: 18px;
  color: #EEE;
  font-weight: 300;
  text-transform: capitalize;
  background-color: var(--secondary-color);
  border: none;
}
/* line 132, ../../../app/styles/themes/theme-future.scss */
#home-header .header__button:hover {
  background-color: var(--secondary-color);
}

/* line 142, ../../../app/styles/themes/theme-future.scss */
#home-skills .skills__item {
  background-color: var(--tertiary-color);
}
/* line 146, ../../../app/styles/themes/theme-future.scss */
#home-skills h3 {
  margin-right: 15px;
  margin-left: 15px;
  padding: 30px 0 10px;
  color: #EEE;
  border-bottom: 1px solid var(--primary-color);
}
/* line 154, ../../../app/styles/themes/theme-future.scss */
#home-skills p {
  padding: 5px 15px;
  color: #EEE;
}
/* line 159, ../../../app/styles/themes/theme-future.scss */
#home-skills button {
  width: 100%;
}

/* line 166, ../../../app/styles/themes/theme-future.scss */
#home-team {
  margin-bottom: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #1E1E1E;
}
/* line 172, ../../../app/styles/themes/theme-future.scss */
#home-team .team__tag {
  margin-top: 80px;
}
/* line 175, ../../../app/styles/themes/theme-future.scss */
#home-team .team__tag h1 {
  font-size: 76px;
  font-weight: 300;
  color: var(--primary-color);
  line-height: 0.9;
  text-transform: uppercase;
}
/* line 183, ../../../app/styles/themes/theme-future.scss */
#home-team .team__tag h4 {
  color: #EEE;
  font-weight: 400;
  text-transform: uppercase;
}
/* line 190, ../../../app/styles/themes/theme-future.scss */
#home-team li {
  padding: 5px 10px;
  background-color: #E8E8E8;
  border-left: 5px solid var(--primary-color);
}
/* line 195, ../../../app/styles/themes/theme-future.scss */
#home-team li + li {
  margin-top: 12px;
}
/* line 200, ../../../app/styles/themes/theme-future.scss */
#home-team h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 700;
  text-transform: uppercase;
  color: #1E1E1E;
}
/* line 208, ../../../app/styles/themes/theme-future.scss */
#home-team h5 {
  margin-bottom: 2px;
  font-weight: 300;
  color: var(--primary-color);
  text-transform: uppercase;
}

/* line 221, ../../../app/styles/themes/theme-future.scss */
#home-prices .prices__option {
  padding-top: 5px;
  background-color: var(--tertiary-color);
}
/* line 226, ../../../app/styles/themes/theme-future.scss */
#home-prices h3 {
  font-weight: 300;
  color: #E8E8E8;
  text-transform: uppercase;
}
/* line 232, ../../../app/styles/themes/theme-future.scss */
#home-prices h4 {
  font-weight: 700;
  color: var(--primary-color);
  text-transform: uppercase;
}
/* line 238, ../../../app/styles/themes/theme-future.scss */
#home-prices .prices__tag {
  margin-bottom: 15px;
  font-family: 'mainFont';
  font-weight: 700;
}
/* line 244, ../../../app/styles/themes/theme-future.scss */
#home-prices ul {
  margin-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;
}
/* line 249, ../../../app/styles/themes/theme-future.scss */
#home-prices ul li {
  margin: 0;
  padding: 8px 12px 4px;
  font-family: 'mainFont';
  font-size: 18px;
  font-weight: 300;
  color: #EEE;
  text-transform: uppercase;
  border-bottom: 1px solid var(--primary-color);
}
/* line 259, ../../../app/styles/themes/theme-future.scss */
#home-prices ul li:last-child {
  border-bottom: none !important;
}
/* line 265, ../../../app/styles/themes/theme-future.scss */
#home-prices button {
  width: 100%;
}

/* line 274, ../../../app/styles/themes/theme-future.scss */
#home-blog h3 {
  font-weight: 300;
  color: #1E1E1E;
}
/* line 279, ../../../app/styles/themes/theme-future.scss */
#home-blog h5 {
  font-weight: 300;
  color: var(--primary-color);
  text-transform: uppercase;
}

/* line 290, ../../../app/styles/themes/theme-future.scss */
#home-contact .textBox {
  min-height: 203px;
}
/* line 294, ../../../app/styles/themes/theme-future.scss */
#home-contact h3 {
  font-weight: 300;
  color: var(--primary-color);
}
/* line 299, ../../../app/styles/themes/theme-future.scss */
#home-contact p {
  color: #1E1E1E;
}
/* line 303, ../../../app/styles/themes/theme-future.scss */
#home-contact input,
#home-contact textarea {
  padding: 10px;
  font-family: 'secondaryFont';
  font-size: 16px;
  font-weight: 300;
  color: #FFF;
  background-color: var(--tertiary-color);
  transition-property: border;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
/* line 313, ../../../app/styles/themes/theme-future.scss */
#home-contact input:hover, #home-contact input:focus,
#home-contact textarea:hover,
#home-contact textarea:focus {
  outline: none;
  -webkit-appearance: none;
}
/* line 319, ../../../app/styles/themes/theme-future.scss */
#home-contact textarea {
  min-height: 140px;
}
