#colorTestHtml {
	height: 100%;
	body {
		height: 100%;
	}
}

#colorTest {
	height: 100%;
	.row {
		height: 100%;
	}
	.col-lg-3 {
		height: 50%;
		padding: 15px;
	}
	ul {
		float: left;
		width: 50%;
		padding-left: 0;
		li {
			list-style: none;
			font-family: 'mainFont';
			font-size: 16px;
		}
	}
}

.listBox {
	li:first-child {
		font-weight: 300;
	}
	li:n-child(2) {
		font-weight: 400;
	}
	li:last-child {
		font-weight: 700;
	}
}

.listBox1 {
	color: $mainColor;
}

.listBox2 {
	color: $secondaryColor;
}

.listBox3 {
	color: $accentColor;
}

.listBox4 {
	color: $fillColor;
}

.listBox5 {
	color: $darkGray;
}

.listBox6 {
	color: $lightGray;
}

.listBox7 {
	color: $contrastColorDark;
}

.listBox8 {
	color: $contrastColorLight;
}

#box1 {
	background-color: $mainColor;
}

#box2 {
	background-color: $secondaryColor;
}

#box3 {
	background-color: $accentColor;
}

#box4 {
	background-color: $fillColor;
}

#box5 {
	background-color: $darkGray;
}

#box6 {
	background-color: $lightGray;
}

#box7 {
	background-color: $contrastColorDark;
}

#box8 {
	background-color: $contrastColorLight;
}