// Colors

$fr-color-main: #db43bd;
$fr-color-secondary: #332532;

// Fonts

$fr-font-primary: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

h1, h2, h3, h4, h5 {
	margin-top: 0;
	font-family: $fr-font-primary;
	color: inherit;
}
