#fr-side-menu {
	font-size: 12px;
	color: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	width: 360px;
	min-height: 100vh;
	background-color: $fr-secondary;
	z-index: 100;

	h1 {
		font-size: 2.2em;
	}

	h2 {
		font-size: 1.9em;
	}

	h3 {
		font-size: 1.5em;
	}

	h4 {
		font-size: 1.3em;
	}

	p {
		font-size: 1.1em;
	}

	.side-menu__brand {
		padding: 50px 20px 30px;
	}

	ul {
		padding-left: 0;

		li {
			list-style: none;
		}
	}

	.side-menu__font-select {
		h1.side-menu__titles {
			padding-left: 15px;
			font-weight: 300;
			text-transform: uppercase;
		}

		.side-menu__font-select-main h2 {
			font-family: 'mainFont';
		}

		.side-menu__font-select-secondary h2 {
			font-family: 'secondaryFont';
		}

		li {
			padding: 15px;
			background-color: darken($fr-secondary, 5%);
			cursor: pointer;
			transition: all 0.3s ease;

			&:hover {
				color: $fr-main;
			}

			&:first-child {
				border-bottom: 2px solid $fr-secondary;
			}

			h2 {
				margin-bottom: 0;
			}

			h4 {
				margin-bottom: 3px;
			}
		}
	}

	h1.side-menu__title {
		padding-left: 15px;
		font-weight: 300;
		text-transform: uppercase;
	}

	.side-menu__selected-colors {
		li {
			display: flex;
			flex-direction: row;
			height: 35px;

			& + li {
				margin-top: 10px;
			}

			span {
				flex-basis: 35px;
			}

			input[type='text'] {
				flex-grow: 10;
				margin-left: 15px;
				padding: 0 15px;
				font-size: 18px;
				border: 1px solid #FFF;
				border-radius: 3px;
				background-color: transparent;
			}
		}
	}

	.side-menu__loaded-schemes {

		ul {
			padding-right: 15px;
			padding-left: 15px;
		}

		li {
			margin-bottom: 10px;
			border: 1px solid lighten($fr-secondary, 30%);
			border-radius: 5px;
			cursor: pointer;
		}

		.side-menu__main-colors {
			&:after,
			&:before {
				display: table;
				content: "";
			}

			&:after {
				clear: both;
			}

			div {
				@include clearfix();
				float: left;
				width: 33.33333%;
				height: 30px;
			}
		}

		.side-menu__gray-colors {
			&:after,
			&:before {
				display: table;
				content: "";
			}

			&:after {
				clear: both;
			}

			div {
				@include clearfix();
				float: left;
				width: 50%;
				height: 30px;
			}
		}
	}
}
