.fr-side-menu__open {
	position: fixed;
	top: 10px;
	left: 10px;
	width: 40px;
	height: 40px;
	color: #FFF;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	background-color: $fr-secondary;
	box-shadow: 4px 4px rgba(#000, 0.4);
	z-index: 10;

	&:hover {
		background-color: darken($fr-secondary, 5%);
	}
}

.fr-side-menu {
	font-size: 12px;
	color: #FFF;
	position: fixed;
	top: 0;
	left: -360px;
	width: 360px;
	min-height: 100vh;
	background-color: $fr-secondary;
	z-index: 100;
	transition: left 0.5s ease, box-shadow 0.5s ease;
	box-shadow: 0 0 rgba(#000, 0.4);

	h1 {
		font-size: 2.2em;
	}

	h2 {
		font-size: 1.9em;
	}

	h3 {
		font-size: 1.5em;
	}

	h4 {
		font-size: 1.3em;
	}

	p {
		font-size: 1.1em;
	}

	&.side-menu--show {
		left: 0;
		box-shadow: 4px 0 rgba(#000, 0.4);
	}

	.side-menu__close {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 40px;
		height: 40px;
		font-size: 20px;
		line-height: 40px;
		text-align: center;
		cursor: pointer;

		&:hover {
			background-color: darken($fr-secondary, 5%);
		}
	}

	.side-menu__brand {
		padding: 50px 20px 30px;
	}

	ul {
		padding-left: 0;

		li {
			list-style: none;
		}
	}

	.side-menu__font-select {
		h1.side-menu__titles {
			padding-left: 15px;
			font-weight: 300;
			text-transform: uppercase;
		}

		.side-menu__font-select-main h2 {
			font-family: 'mainFont';
		}

		.side-menu__font-select-secondary h2 {
			font-family: 'secondaryFont';
		}

		li {
			padding: 15px;
			background-color: darken($fr-secondary, 5%);
			cursor: pointer;
			transition: all 0.3s ease;

			&:hover {
				color: $fr-main;
			}

			&:first-child {
				border-bottom: 2px solid $fr-secondary;
			}

			h2 {
				margin-bottom: 0;
			}

			h4 {
				margin-bottom: 3px;
			}
		}
	}

	h1.side-menu__title {
		padding-left: 15px;
		font-weight: 300;
		text-transform: uppercase;
	}

	.side-menu__selected-colors {
		li {
			display: flex;
			flex-direction: row;
			height: 35px;

			& + li {
				margin-top: 10px;
			}

			span {
				flex-basis: 35px;
			}

			input[type='text'] {
				flex-grow: 10;
				margin-left: 15px;
				padding: 0 15px;
				font-size: 18px;
				border: 1px solid #FFF;
				border-radius: 3px;
				background-color: transparent;
			}
		}
	}

	.side-menu__loaded-schemes {

		ul {
			padding-right: 15px;
			padding-left: 15px;
		}

		li {
			margin-bottom: 10px;
			border: 1px solid lighten($fr-secondary, 30%);
			border-radius: 5px;
			cursor: pointer;
		}

		.side-menu__main-colors {
			&:after,
			&:before {
				display: table;
				content: "";
			}

			&:after {
				clear: both;
			}

			div {
				@include clearfix();
				float: left;
				width: 33.33333%;
				height: 30px;
			}
		}

		.side-menu__gray-colors {
			&:after,
			&:before {
				display: table;
				content: "";
			}

			&:after {
				clear: both;
			}

			div {
				@include clearfix();
				float: left;
				width: 50%;
				height: 30px;
			}
		}
	}
}

.fr-theme-select {
	position: fixed;
	top: 10px;
	right: 10px;
	width: 200px;
	color: #FFF;
	z-index: 10;

	.fr-theme-select__title {
		position: relative;
		margin-bottom: 0;
		padding: 0 15px;
		font-size: 20px;
		color: #FFF;
		line-height: 40px;
		background-color: $fr-secondary;
		cursor: pointer;
		box-shadow: 4px 4px rgba(#000, 0.4);

		&:before {
			content: "";
			position: absolute;
			top: 6px;
	    bottom: 6px;
	    right: 30px;
			width: 1px;
			background-color: #FFF;
		}

		i {
			position: absolute;
			top: 0;
			right: 0;
			width: 30px;
			line-height: 40px;
			text-align: center;
		}
	}

	ul {
		position: absolute;
		top: 40px;
		left: 0;
		right: 0;
		background-color: $fr-secondary;
		height: 200px;
		overflow-y: auto;
		box-shadow: 4px 4px rgba(#000, 0.4);

		&::-webkit-scrollbar {
			width: 4px;
			background-color: transparent;
		}
		&::-webkit-scrollbar-button  {

		}
		&::-webkit-scrollbar-track {

		}
		&::-webkit-scrollbar-track-piece {

		}
		&::-webkit-scrollbar-thumb {
			background-color: #FFF;
		}
		&::-webkit-scrollbar-corner {

		}
		&::-webkit-resizer {

		}

		li {
			padding: 0 15px;
			font-size: 16px;
			line-height: 35px;
			list-style: none;
			cursor: pointer;

			&:hover {
				background-color: darken($fr-secondary, 10%);
			}
		}
	}
}
