// Vars

$spacing: (
  hg: 30px,
  lg: 20px,
  bg: 15px,
  md: 10px,
  sm: 5px
);


@each $size, $dimension in $spacing {
	.utils__ {
	  &m--#{$size} {
	    margin: $dimension !important;
	  }

	  &mt--#{$size} {
	    margin-top: $dimension !important;
	  }

	  &mr--#{$size} {
	    margin-right: $dimension !important;
	  }

	  &mb--#{$size} {
	    margin-bottom: $dimension !important;
	  }

	  &ml--#{$size} {
	    margin-left: $dimension !important;
	  }

	  &p--#{$size} {
	    padding: $dimension !important;
	  }

	  &pt--#{$size} {
	    padding-top: $dimension !important;
	  }

	  &pr--#{$size} {
	    padding-right: $dimension !important;
	  }

	  &pb--#{$size} {
	    padding-bottom: $dimension !important;
	  }

	  &pl--#{$size} {
	    padding-left: $dimension !important;
	  }
	}
}
