.ui__actions {
	li {
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
		cursor: pointer;

		&:not(:first-child) {
			margin-top: 10px;
		}

		&:hover {
			span {
				color: $fr-color-secondary-darker;
				background-color: #FFF;
			}
		}
	}

	span {
		margin-right: 10px;
		width: 35px;
		height: 35px;
		font-size: 14px;
		line-height: 35px;
		text-align: center;
		background-color: $fr-color-secondary-darker;
		transition: all 0.5s ease;
	}
}
