.fr-ui {
	.ui__input,
	.ui__textarea {
		font-family: $fr-font-primary;
	}

	.ui__input {
		background-color: transparent;
		border: none;
		color: #FFF;

		&:hover,
		&:focus {
			outline: none;
		}
	}

	.ui__textarea {
		display: block;
		width: 100%;
		max-width: 100%;
		padding: 10px;
		color: #FFF;
		background-color: $fr-color-secondary-darker;

		&::-webkit-input-placeholder {
			font-family: $fr-font-primary;
			color: #FFF;
		}
		&::-moz-placeholder {
			font-family: $fr-font-primary;
			color: #FFF;
		}
		&:-ms-input-placeholder {
			font-family: $fr-font-primary;
			color: #FFF;
		}
		&:-moz-placeholder {
			font-family: $fr-font-primary;
			color: #FFF;
		}
	}
}
