.fr-button {
	display: inline-block;
	padding: 0 15px;
	height: 35px;
	background-color: #FFF;
	cursor: pointer;

	em {
		font-family: $fr-font-primary;
		font-weight: 400;
		font-size: 16px;
		font-style: normal;
		text-transform: uppercase;
		line-height: 35px;
		color: $fr-color-secondary-darker;
	}
}
