/* line 6, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper {
  background-color: #EEE;
}

/* line 13, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper h1 {
  color: var(--primary-color);
  font-weight: 700;
}
/* line 18, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper h2 {
  position: relative;
  margin: 10px 0;
  padding: 25px 0;
  font-size: 36px;
  color: #FFF;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
/* line 28, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper h2:before, .site__wrapper h2:after {
  position: absolute;
  content: "";
  left: 50%;
  margin-left: -38px;
  width: 76px;
  height: 1px;
  background-color: #FFF;
}
/* line 39, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper h2:before {
  top: -1px;
}
/* line 43, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper h2:after {
  bottom: -1px;
}
/* line 50, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper .section__header {
  position: relative;
  padding-top: 120px;
  padding-bottom: 130px;
  background: #1a1a1a url("http://lorempixel.com/g/1920/600/") no-repeat scroll center;
}
/* line 56, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper .section__header:before {
  position: absolute;
  content: "";
  margin-top: -120px;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.4);
}
/* line 66, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper .section__body {
  margin-top: 25px;
  margin-bottom: 60px;
}
/* line 71, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper .section__button {
  padding: 6px 20px;
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--primary-color);
  transition: all 0.4s ease-in-out;
}
/* line 81, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper .section__button:hover {
  color: #FFF;
  background-color: var(--primary-color);
}
/* line 87, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper .section__reload {
  top: auto;
  bottom: -50px;
  right: 50%;
  margin-right: -20px;
  color: #FFF;
}
/* line 95, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--primary-color);
}
/* line 100, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper footer p {
  color: #FFF;
}

/* line 108, ../../../app/styles/themes/theme-lean.scss */
#fonts-versus {
  text-transform: uppercase;
}
/* line 111, ../../../app/styles/themes/theme-lean.scss */
#fonts-versus .versus__tag {
  margin-bottom: 20px;
}
/* line 114, ../../../app/styles/themes/theme-lean.scss */
#fonts-versus .versus__tag span {
  display: inline-block;
  padding: 5px 15px;
  border: 2px solid black;
}

/* line 124, ../../../app/styles/themes/theme-lean.scss */
#home-nav {
  background: #1E1E1E;
}
/* line 128, ../../../app/styles/themes/theme-lean.scss */
#home-nav .nav__logo a {
  color: var(--primary-color);
}
/* line 131, ../../../app/styles/themes/theme-lean.scss */
#home-nav .nav__logo a:hover {
  background-color: #FFF;
}
/* line 137, ../../../app/styles/themes/theme-lean.scss */
#home-nav li a {
  color: #FFF;
}

/* line 145, ../../../app/styles/themes/theme-lean.scss */
#home-header {
  background-color: var(--tertiary-color);
  background-size: cover;
  text-align: center;
}
/* line 151, ../../../app/styles/themes/theme-lean.scss */
#home-header .headerTag .headerTagInner {
  padding: 20px;
  border: 3px solid var(--primary-color);
  transition: all 0.5s ease;
}
/* line 156, ../../../app/styles/themes/theme-lean.scss */
#home-header .headerTag .headerTagInner:hover {
  background-color: var(--primary-color);
}
/* line 159, ../../../app/styles/themes/theme-lean.scss */
#home-header .headerTag .headerTagInner:hover h1,
#home-header .headerTag .headerTagInner:hover h3 {
  color: #FFF;
}
/* line 164, ../../../app/styles/themes/theme-lean.scss */
#home-header .headerTag .headerTagInner:hover h1 {
  border-bottom: 1px solid #FFF;
}
/* line 170, ../../../app/styles/themes/theme-lean.scss */
#home-header .headerTag h1 {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--primary-color);
  transition: all 0.5s ease;
}
/* line 176, ../../../app/styles/themes/theme-lean.scss */
#home-header .headerTag h3 {
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: all 0.5s ease;
}
/* line 184, ../../../app/styles/themes/theme-lean.scss */
#home-header h1 {
  color: #FFF;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 190, ../../../app/styles/themes/theme-lean.scss */
#home-header p {
  margin: 20px auto 15px;
  max-width: 50%;
  color: #FFF;
}
/* line 196, ../../../app/styles/themes/theme-lean.scss */
#home-header .header__overlay {
  background-color: var(--tertiary-color);
  opacity: 0.3;
}

/* line 207, ../../../app/styles/themes/theme-lean.scss */
#home-skills .skills__item {
  color: #FFF;
  border-radius: 7px;
  text-align: center;
}
/* line 212, ../../../app/styles/themes/theme-lean.scss */
#home-skills .skills__item h3 {
  padding: 15px;
  color: var(--secondary-color);
}
/* line 217, ../../../app/styles/themes/theme-lean.scss */
#home-skills .skills__item .bottomWrapper {
  border-top: 1px solid var(--tertiary-color);
  border-bottom: 1px solid var(--tertiary-color);
}
/* line 222, ../../../app/styles/themes/theme-lean.scss */
#home-skills .skills__item p {
  margin: 0;
  padding: 15px;
  position: relative;
  color: var(--tertiary-color);
}

/* line 235, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper #home-history {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 238, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper #home-history h2 {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 243, ../../../app/styles/themes/theme-lean.scss */
.site__wrapper #home-history p {
  padding: 15px;
}

/* line 255, ../../../app/styles/themes/theme-lean.scss */
#home-team {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--secondary-color);
}
/* line 260, ../../../app/styles/themes/theme-lean.scss */
#home-team .team__tag {
  margin-top: 80px;
}
/* line 263, ../../../app/styles/themes/theme-lean.scss */
#home-team .team__tag h1 {
  font-size: 76px;
  font-weight: 700;
  color: var(--primary-color);
  line-height: 0.8;
}
/* line 271, ../../../app/styles/themes/theme-lean.scss */
#home-team h4 {
  margin-top: 5px;
  color: #FFF;
}
/* line 276, ../../../app/styles/themes/theme-lean.scss */
#home-team h3 {
  margin-top: 5px;
  font-weight: 700;
  color: #EEE;
}
/* line 282, ../../../app/styles/themes/theme-lean.scss */
#home-team h5 {
  font-weight: 300;
  color: #EEE;
}
/* line 288, ../../../app/styles/themes/theme-lean.scss */
#home-team li:not(:first-child) {
  margin-top: 15px;
}
