/* line 6, ../../../app/styles/themes/theme-retro.scss */
body {
  background-color: #FFF;
}

/* line 14, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper h1 {
  color: var(--primary-color);
  font-weight: 700;
}
/* line 19, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper h2 {
  display: inline-block;
  position: relative;
  color: #FFF;
  line-height: 46px;
  font-weight: 700;
  text-align: center;
}
/* line 27, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper h2:before, .site__wrapper h2:after {
  position: absolute;
  content: "";
  top: 50%;
  width: 25px;
  height: 1px;
  background-color: #FFF;
}
/* line 37, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper h2:before {
  left: -40px;
}
/* line 41, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper h2:after {
  right: -40px;
}
/* line 46, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper p {
  font-weight: 400;
  color: #1E1E1E;
}
/* line 53, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper .section__header {
  margin-top: 30px;
}
/* line 56, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper .section__header .container {
  position: relative;
  text-align: center;
  background: #1E1E1E url("../../images/retro-tile.png") repeat scroll center;
  box-shadow: 0 4px 4px -3px #1E1E1E;
}
/* line 62, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper .section__header .container .section__badge {
  position: absolute;
  margin-top: -40px;
  margin-left: 25px;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 15px;
  font-size: 30px;
  font-weight: 700;
  color: #FFF;
  line-height: 0.8;
  background-color: var(--secondary-color);
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}
/* line 78, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper .section__header .container .section__badge:before {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  /* IE 9 */
  /* Chrome, Safari, Opera */
  transform: skew(0, -8deg);
}
/* line 92, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper .section__header .container:before, .site__wrapper .section__header .container:after {
  position: absolute;
  content: "";
  margin-top: -25px;
  top: 50%;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
}
/* line 102, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper .section__header .container:before {
  left: 0;
  border-left: 16px solid #FFF;
}
/* line 107, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper .section__header .container:after {
  right: 0;
  border-right: 16px solid #FFF;
}
/* line 114, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper .section__body {
  padding: 20px 15px 15px;
  background-color: #E8E8E8;
}
/* line 119, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper .section__button {
  padding: 0 15px;
  height: 40px;
  font-size: 18px;
  color: #FFF;
  font-weight: 700;
  line-height: 40px;
  border-radius: 20px;
  background-color: var(--primary-color);
}
/* line 130, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper .section__reload {
  right: 25px;
  color: #FFF;
}
/* line 137, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper footer {
  padding-top: 10px;
  background-color: var(--primary-color);
}
/* line 140, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper footer p {
  color: #FFF;
}
/* line 143, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper footer .copyRight {
  text-align: right;
}

/* line 153, ../../../app/styles/themes/theme-retro.scss */
#fonts-versus .versus__tag {
  margin-bottom: 20px;
}
/* line 156, ../../../app/styles/themes/theme-retro.scss */
#fonts-versus .versus__tag span {
  padding: 5px 15px;
  border: 2px solid black;
}

/* line 166, ../../../app/styles/themes/theme-retro.scss */
#home-nav {
  background: #1E1E1E url("../../images/retro-tile.png") repeat scroll center;
}
/* line 170, ../../../app/styles/themes/theme-retro.scss */
#home-nav .nav__logo a {
  color: #FFF;
  background-color: var(--primary-color);
}
/* line 180, ../../../app/styles/themes/theme-retro.scss */
#home-nav li a {
  color: #FFF;
}

/* line 188, ../../../app/styles/themes/theme-retro.scss */
#home-header {
  background: #1a1a1a url("https://unsplash.it/1000/500?image=998") no-repeat fixed center;
  background-size: cover;
  text-align: center;
}
/* line 195, ../../../app/styles/themes/theme-retro.scss */
#home-header .header__tag h1 {
  position: relative;
  margin-top: 105px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 12px;
  padding-bottom: 5px;
  color: #FFF;
}
/* line 204, ../../../app/styles/themes/theme-retro.scss */
#home-header .header__tag h1:before {
  margin-left: -15px;
  bottom: -3px;
  left: 50%;
  position: absolute;
  content: "";
  width: 30px;
  height: 3px;
  background-color: #FFF;
}
/* line 216, ../../../app/styles/themes/theme-retro.scss */
#home-header .header__tag h3 {
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 3px;
}
/* line 223, ../../../app/styles/themes/theme-retro.scss */
#home-header .header__tag-inner {
  padding: 15px;
  width: 300px;
  height: 300px;
  background-color: var(--secondary-color);
  border-radius: 50%;
}
/* line 231, ../../../app/styles/themes/theme-retro.scss */
#home-header p {
  margin: 20px auto 15px;
  max-width: 50%;
  color: #FFF;
}
/* line 237, ../../../app/styles/themes/theme-retro.scss */
#home-header .header__overlay {
  background-color: var(--tertiary-color);
  opacity: 0.3;
}

/* line 247, ../../../app/styles/themes/theme-retro.scss */
#home-skills .section__badge:before {
  content: "12";
}
/* line 251, ../../../app/styles/themes/theme-retro.scss */
#home-skills .row {
  margin-right: 0;
  margin-left: 0;
}
/* line 256, ../../../app/styles/themes/theme-retro.scss */
#home-skills .skills__item {
  color: #FFF;
  text-align: center;
}
/* line 260, ../../../app/styles/themes/theme-retro.scss */
#home-skills .skills__item h3 {
  position: relative;
  padding: 30px 0 15px;
  color: var(--primary-color);
}
/* line 265, ../../../app/styles/themes/theme-retro.scss */
#home-skills .skills__item h3:before {
  position: absolute;
  content: "";
  margin-left: -15px;
  width: 30px;
  height: 4px;
  left: 50%;
  bottom: -4px;
  background-color: var(--primary-color);
}
/* line 277, ../../../app/styles/themes/theme-retro.scss */
#home-skills .skills__item p {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 287, ../../../app/styles/themes/theme-retro.scss */
#home-history {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 291, ../../../app/styles/themes/theme-retro.scss */
#home-history .section__badge:before {
  content: "34";
}

/* line 299, ../../../app/styles/themes/theme-retro.scss */
#home-words {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 303, ../../../app/styles/themes/theme-retro.scss */
#home-words .section__badge:before {
  content: "56";
}
/* line 308, ../../../app/styles/themes/theme-retro.scss */
#home-words .wrapper .row {
  margin-left: 0;
  margin-right: 0;
  padding-top: 30px;
}
/* line 315, ../../../app/styles/themes/theme-retro.scss */
#home-words p {
  padding: 15px;
}

/* line 323, ../../../app/styles/themes/theme-retro.scss */
#home-team {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #E8E8E8;
  border-bottom: 5px solid var(--primary-color);
}
/* line 329, ../../../app/styles/themes/theme-retro.scss */
#home-team .container .wrapper {
  overflow: hidden;
  padding: 15px;
  border-radius: 7px;
}
/* line 335, ../../../app/styles/themes/theme-retro.scss */
#home-team .team__tag {
  margin-top: 80px;
}
/* line 338, ../../../app/styles/themes/theme-retro.scss */
#home-team .team__tag h1 {
  font-size: 76px;
  font-weight: 700;
  color: var(--primary-color);
  line-height: 0.8;
}
/* line 346, ../../../app/styles/themes/theme-retro.scss */
#home-team h3 {
  margin-top: 5px;
  margin-bottom: 25px;
  padding-bottom: 5px;
  font-size: 28px;
  font-weight: 700;
  color: #1E1E1E;
  text-transform: uppercase;
  border-bottom: 4px solid #1E1E1E;
}
/* line 357, ../../../app/styles/themes/theme-retro.scss */
#home-team h4 {
  font-weight: 700;
}
/* line 361, ../../../app/styles/themes/theme-retro.scss */
#home-team h5 {
  z-index: 10;
  margin-bottom: 2px;
  font-weight: 700;
  color: var(--primary-color);
}

/* line 372, ../../../app/styles/themes/theme-retro.scss */
#home-prices {
  margin-bottom: 100px;
}
/* line 375, ../../../app/styles/themes/theme-retro.scss */
#home-prices .section__badge:before {
  content: "78";
}
/* line 379, ../../../app/styles/themes/theme-retro.scss */
#home-prices .row {
  margin-right: 0;
  margin-left: 0;
}
/* line 384, ../../../app/styles/themes/theme-retro.scss */
#home-prices h3 {
  font-weight: 700;
  color: var(--primary-color);
}
/* line 389, ../../../app/styles/themes/theme-retro.scss */
#home-prices h4 {
  font-size: 18px;
  font-weight: 300;
  color: var(--tertiary-color);
  text-transform: uppercase;
}
/* line 396, ../../../app/styles/themes/theme-retro.scss */
#home-prices .prices__tag {
  margin-bottom: 15px;
  font-family: var(--primary-font);
  font-weight: 700;
}
/* line 403, ../../../app/styles/themes/theme-retro.scss */
#home-prices .prices__list ul {
  text-align: left;
}
/* line 406, ../../../app/styles/themes/theme-retro.scss */
#home-prices .prices__list ul li {
  font-size: 18px;
  font-weight: 700;
  color: #1E1E1E;
  border-bottom: 4px solid #1E1E1E;
}
/* line 415, ../../../app/styles/themes/theme-retro.scss */
#home-prices .section__button {
  margin-top: 15px;
}

/* line 425, ../../../app/styles/themes/theme-retro.scss */
#home-blog .section__badge:before {
  content: "09";
}
/* line 429, ../../../app/styles/themes/theme-retro.scss */
#home-blog .row {
  margin-right: 0;
  margin-left: 0;
  padding-top: 15px;
}
/* line 435, ../../../app/styles/themes/theme-retro.scss */
#home-blog h3 {
  color: #1E1E1E;
}
/* line 439, ../../../app/styles/themes/theme-retro.scss */
#home-blog h5 {
  font-weight: 700;
  color: var(--primary-color);
}

/* line 448, ../../../app/styles/themes/theme-retro.scss */
#home-contact {
  margin-bottom: 30px;
}
/* line 451, ../../../app/styles/themes/theme-retro.scss */
#home-contact .section__badge:before {
  content: "10";
}
/* line 455, ../../../app/styles/themes/theme-retro.scss */
#home-contact .textBox {
  min-height: 203px;
  padding: 15px;
}
/* line 460, ../../../app/styles/themes/theme-retro.scss */
#home-contact h3 {
  font-weight: 300;
  color: var(--primary-color);
}
/* line 465, ../../../app/styles/themes/theme-retro.scss */
#home-contact p {
  color: #1E1E1E;
}
/* line 470, ../../../app/styles/themes/theme-retro.scss */
#home-contact .contact__icons li {
  color: #FFF;
  background-color: var(--secondary-color);
  border-radius: 50%;
}
/* line 477, ../../../app/styles/themes/theme-retro.scss */
#home-contact input,
#home-contact textarea {
  padding: 12px;
  font-size: 16px;
  font-weight: 700;
  color: var(--secondary-color);
  background-color: transparent;
  border-bottom: 4px solid var(--secondary-color);
  transition: all 0.5s ease;
}
/* line 487, ../../../app/styles/themes/theme-retro.scss */
#home-contact input:hover, #home-contact input:focus,
#home-contact textarea:hover,
#home-contact textarea:focus {
  background-color: var(--secondary-color);
  color: #FFF;
}
/* line 493, ../../../app/styles/themes/theme-retro.scss */
#home-contact textarea {
  min-height: 140px;
}
