/* line 24, ../../../app/styles/themes/theme-blizzard.scss */
body {
  background-color: var(--tertiary-color);
}

/* line 32, ../../../app/styles/themes/theme-blizzard.scss */
.site__wrapper h1 {
  color: var(--primary-color);
  font-weight: 700;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
/* line 38, ../../../app/styles/themes/theme-blizzard.scss */
.site__wrapper h2 {
  position: relative;
  margin: 8px 0;
  padding: 8px 0 12px;
  font-size: 28px;
  color: #FFF;
  font-weight: 300;
  text-align: center;
  text-align: center;
  background-color: rgba(30, 30, 30, 0.9);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(255, 255, 255, 0.1) inset, 0 0 8px 1px rgba(0, 0, 0, 0.5);
}
/* line 53, ../../../app/styles/themes/theme-blizzard.scss */
.site__wrapper .section__button {
  padding: 6px 20px;
  font-size: 18px;
  color: #FFF;
  font-weight: 300;
  text-transform: capitalize;
  background-color: transparent;
  border-radius: 5px;
  border: none;
  background-color: var(--primary-color);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(255, 255, 255, 0.1) inset, 0 0 8px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}

/* line 75, ../../../app/styles/themes/theme-blizzard.scss */
#fonts-versus {
  text-transform: uppercase;
}
/* line 78, ../../../app/styles/themes/theme-blizzard.scss */
#fonts-versus .versus__wrapper {
  padding: 5px 15px 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 85, ../../../app/styles/themes/theme-blizzard.scss */
#fonts-versus .versus__tag {
  margin-bottom: 20px;
}
/* line 88, ../../../app/styles/themes/theme-blizzard.scss */
#fonts-versus .versus__tag span {
  color: #FFF;
}

/* line 97, ../../../app/styles/themes/theme-blizzard.scss */
#home-nav {
  position: relative;
  bottom: -52px;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 1;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 105, ../../../app/styles/themes/theme-blizzard.scss */
#home-nav .nav__logo {
  font-size: 24px;
  font-weight: 300;
  color: #FFF;
}
/* line 111, ../../../app/styles/themes/theme-blizzard.scss */
#home-nav .nav__item {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 114, ../../../app/styles/themes/theme-blizzard.scss */
#home-nav .nav__item:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 118, ../../../app/styles/themes/theme-blizzard.scss */
#home-nav .nav__item a {
  font-weight: 300;
  color: #FFF;
  transition: all 0.5s ease;
}
/* line 123, ../../../app/styles/themes/theme-blizzard.scss */
#home-nav .nav__item a:hover {
  background-color: var(--primary-color);
}

/* line 132, ../../../app/styles/themes/theme-blizzard.scss */
#home-header {
  background: #1a1a1a url("http://lorempixel.com/g/1920/600/nature/") no-repeat fixed center;
  background-size: cover;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 137, ../../../app/styles/themes/theme-blizzard.scss */
#home-header h1 {
  font-weight: 700;
  text-transform: uppercase;
}
/* line 142, ../../../app/styles/themes/theme-blizzard.scss */
#home-header p {
  margin-top: 20px;
  margin-bottom: 15px;
  max-width: 50%;
  color: #FFF;
}
/* line 149, ../../../app/styles/themes/theme-blizzard.scss */
#home-header .header__overlay {
  background-color: var(--tertiary-color);
  opacity: 0.3;
}

/* line 158, ../../../app/styles/themes/theme-blizzard.scss */
#home-skills .skills__item {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(255, 255, 255, 0.1) inset, 0 0 8px 1px rgba(0, 0, 0, 0.5);
}
/* line 162, ../../../app/styles/themes/theme-blizzard.scss */
#home-skills .skills__item h3 {
  margin: 0;
  padding: 80px 15px 25px;
  font-weight: 300;
  color: #FFF;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
  background-image: url("http://lorempixel.com/400/200/");
}
/* line 171, ../../../app/styles/themes/theme-blizzard.scss */
#home-skills .skills__item .skills__item-description {
  padding-bottom: 20px;
}
/* line 175, ../../../app/styles/themes/theme-blizzard.scss */
#home-skills .skills__item p {
  padding: 15px;
  color: #FFF;
}
/* line 180, ../../../app/styles/themes/theme-blizzard.scss */
#home-skills .skills__item .section__button {
  margin-left: 15px;
}

/* line 189, ../../../app/styles/themes/theme-blizzard.scss */
#home-history {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 193, ../../../app/styles/themes/theme-blizzard.scss */
#home-history .wrapper {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}
/* line 197, ../../../app/styles/themes/theme-blizzard.scss */
#home-history p {
  padding: 15px;
  color: #FFF;
}

/* line 206, ../../../app/styles/themes/theme-blizzard.scss */
#home-words {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 210, ../../../app/styles/themes/theme-blizzard.scss */
#home-words .words__list {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}

/* line 219, ../../../app/styles/themes/theme-blizzard.scss */
#home-team {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 227, ../../../app/styles/themes/theme-blizzard.scss */
#home-team .team__tag {
  margin-top: 80px;
}
/* line 230, ../../../app/styles/themes/theme-blizzard.scss */
#home-team .team__tag h1 {
  font-size: 76px;
  font-weight: 700;
  color: #FFF;
  line-height: 0.8;
  text-transform: uppercase;
}
/* line 240, ../../../app/styles/themes/theme-blizzard.scss */
#home-team .team__people li {
  padding: 10px;
  background-color: rgba(30, 30, 30, 0.9);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(255, 255, 255, 0.1) inset, 0 0 8px 1px rgba(0, 0, 0, 0.5);
}
/* line 245, ../../../app/styles/themes/theme-blizzard.scss */
#home-team .team__people li:not(:first-child) {
  margin-top: 15px;
}
/* line 251, ../../../app/styles/themes/theme-blizzard.scss */
#home-team h3 {
  margin-top: 5px;
  font-size: 28px;
  font-weight: 700;
  color: #FFF;
}
/* line 258, ../../../app/styles/themes/theme-blizzard.scss */
#home-team h5 {
  font-weight: 300;
  color: var(--secondary-color);
}

/* line 268, ../../../app/styles/themes/theme-blizzard.scss */
#home-prices h3 {
  color: #FFF;
}
/* line 272, ../../../app/styles/themes/theme-blizzard.scss */
#home-prices h4 {
  color: var(--primary-color);
}
/* line 276, ../../../app/styles/themes/theme-blizzard.scss */
#home-prices .prices__tag {
  margin-bottom: 15px;
  font-weight: 700;
}
/* line 283, ../../../app/styles/themes/theme-blizzard.scss */
#home-prices .prices__list ul {
  margin-bottom: 20px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 290, ../../../app/styles/themes/theme-blizzard.scss */
#home-prices .prices__list li {
  margin: 0;
  padding: 8px 12px 4px;
  font-size: 18px;
  font-weight: 300;
  color: #FFF;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 298, ../../../app/styles/themes/theme-blizzard.scss */
#home-prices .prices__list li:hover {
  color: #FFF;
  background-color: var(--primary-color);
}
/* line 303, ../../../app/styles/themes/theme-blizzard.scss */
#home-prices .prices__list li:last-child {
  border-bottom: none !important;
}

/* line 314, ../../../app/styles/themes/theme-blizzard.scss */
#home-blog .row {
  margin-right: 0;
  margin-left: 0;
  padding: 15px 0;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}
/* line 320, ../../../app/styles/themes/theme-blizzard.scss */
#home-blog .row h3 {
  color: var(--primary-color);
  font-weight: 300;
}
/* line 325, ../../../app/styles/themes/theme-blizzard.scss */
#home-blog .row h5 {
  color: var(--secondary-color);
}
/* line 329, ../../../app/styles/themes/theme-blizzard.scss */
#home-blog .row p {
  color: #FFF;
}

/* line 340, ../../../app/styles/themes/theme-blizzard.scss */
#home-contact .contact__message {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
}
/* line 346, ../../../app/styles/themes/theme-blizzard.scss */
#home-contact .contact__icons li {
  border-radius: 50%;
  background-color: var(--secondary-color);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(255, 255, 255, 0.1) inset, 0 0 8px 1px rgba(0, 0, 0, 0.5);
}
/* line 351, ../../../app/styles/themes/theme-blizzard.scss */
#home-contact .contact__icons li span {
  color: #FFF;
}
/* line 357, ../../../app/styles/themes/theme-blizzard.scss */
#home-contact h3 {
  font-weight: 300;
  color: var(--primary-color);
}
/* line 362, ../../../app/styles/themes/theme-blizzard.scss */
#home-contact p {
  color: #FFF;
}
/* line 366, ../../../app/styles/themes/theme-blizzard.scss */
#home-contact input,
#home-contact textarea {
  padding: 12px;
  font-size: 16px;
  color: #FFF;
  background-color: rgba(30, 30, 30, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 2px;
  transition: border 0.5s ease;
}
/* line 375, ../../../app/styles/themes/theme-blizzard.scss */
#home-contact input:hover, #home-contact input:focus,
#home-contact textarea:hover,
#home-contact textarea:focus {
  outline: none;
  -webkit-appearance: none;
}
/* line 382, ../../../app/styles/themes/theme-blizzard.scss */
#home-contact textarea {
  min-height: 140px;
}

/* line 390, ../../../app/styles/themes/theme-blizzard.scss */
footer {
  background-color: var(--primary-color);
}
/* line 393, ../../../app/styles/themes/theme-blizzard.scss */
footer p {
  color: #FFF;
}
