/*$mainColor: #33FFE6;
$secondaryColor: #FF2789;
$fillColor: #2B2E3A;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #037E8C;
$secondaryColor: #F24C27;
$fillColor: #024959;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #FF3D7F;
$secondaryColor: #3FB8AF;
$fillColor: #7FC7AF;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #D44F3D;
$secondaryColor: #1C152E;
$fillColor: #DCAB40;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #FF2EFF;
$secondaryColor: #D4DC14;
$fillColor: #4DDA9E;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #ef4b54;
$secondaryColor: #268180;
$fillColor: #f8e1b2;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;
*/
/*$mainColor: #CC4452;
$secondaryColor: #723147;
$fillColor: #E6B098;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #FEB41C;
$secondaryColor: #363F45;
$fillColor: #5E7C88;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #FC4349;
$secondaryColor: #6DBCDB;
$fillColor: #2C3E50;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #D96666;
$secondaryColor: #F2E5A2;
$fillColor: #81AC8B;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;
*/
/*$mainColor: #588C8C;
$secondaryColor: #D9042B;
$fillColor: #011C26;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #45B29D;
$secondaryColor: #DF5A49;
$fillColor: #334D5C;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #E27A3F;
$secondaryColor: #DF5A49;
$fillColor: #45B29D;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #DF5A49;
$secondaryColor: #45B29D;
$fillColor: #334D5C;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #B296BC;
$secondaryColor: #00BACF;
$fillColor: #8F8A8C;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/* $mainColor: #56D9CD;
$secondaryColor: #4588D8;
$fillColor: #4588D8;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E; */
/*$mainColor: #4588D8;
$secondaryColor: #5dffea;
$fillColor: #4588D8;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #56D9CD;
$secondaryColor: #4588D8;
$accentColor: #F2385A;
// $fillColor: #0c4d8d;
$fillColor: #002635;

$lightGray: #f1f1f1;
$mediumGray: #636363;
$darkGray: #323232;*/
/* line 8, ../../../app/styles/themes/theme-retro.scss */
body {
  background-color: #FFF;
}

/* line 16, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper h1 {
  color: var(--primary-color);
  font-weight: 700;
}
/* line 21, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper h2 {
  display: inline-block;
  position: relative;
  color: #FFF;
  line-height: 46px;
  font-weight: 700;
  text-align: center;
}
/* line 29, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper h2:before, .site__wrapper h2:after {
  position: absolute;
  content: "";
  top: 50%;
  width: 25px;
  height: 1px;
  background-color: #FFF;
}
/* line 39, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper h2:before {
  left: -40px;
}
/* line 43, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper h2:after {
  right: -40px;
}
/* line 48, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper p {
  font-weight: 400;
  color: #1E1E1E;
}
/* line 55, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper .section__header {
  margin-top: 30px;
}
/* line 58, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper .section__header .container {
  position: relative;
  text-align: center;
  background: #1E1E1E url("../../images/retro-tile.png") repeat scroll center;
  box-shadow: 0 4px 4px -3px #1E1E1E;
}
/* line 64, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper .section__header .container .section__badge {
  position: absolute;
  margin-top: -40px;
  margin-left: 25px;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 15px;
  font-size: 30px;
  font-weight: 700;
  color: #FFF;
  line-height: 0.8;
  background-color: var(--secondary-color);
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}
/* line 80, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper .section__header .container .section__badge:before {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  /* IE 9 */
  /* Chrome, Safari, Opera */
  transform: skew(0, -8deg);
}
/* line 94, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper .section__header .container:before, .site__wrapper .section__header .container:after {
  position: absolute;
  content: "";
  margin-top: -25px;
  top: 50%;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
}
/* line 104, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper .section__header .container:before {
  left: 0;
  border-left: 16px solid #FFF;
}
/* line 109, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper .section__header .container:after {
  right: 0;
  border-right: 16px solid #FFF;
}
/* line 116, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper .section__body {
  padding: 20px 15px 15px;
  background-color: #E8E8E8;
}
/* line 121, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper .section__button {
  padding: 0 15px;
  height: 40px;
  font-size: 18px;
  color: #FFF;
  font-weight: 700;
  line-height: 40px;
  border-radius: 20px;
  background-color: var(--primary-color);
}
/* line 135, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper footer {
  padding-top: 10px;
  background-color: var(--primary-color);
}
/* line 138, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper footer p {
  color: #FFF;
}
/* line 141, ../../../app/styles/themes/theme-retro.scss */
.site__wrapper footer .copyRight {
  text-align: right;
}

/* line 151, ../../../app/styles/themes/theme-retro.scss */
#fonts-versus .versus__tag {
  margin-bottom: 20px;
}
/* line 154, ../../../app/styles/themes/theme-retro.scss */
#fonts-versus .versus__tag span {
  padding: 5px 15px;
  border: 2px solid black;
}

/* line 164, ../../../app/styles/themes/theme-retro.scss */
#home-nav {
  background: #1E1E1E url("../../images/retro-tile.png") repeat scroll center;
}
/* line 168, ../../../app/styles/themes/theme-retro.scss */
#home-nav .nav__logo a {
  color: #FFF;
  background-color: var(--primary-color);
}
/* line 178, ../../../app/styles/themes/theme-retro.scss */
#home-nav li a {
  color: #FFF;
}

/* line 186, ../../../app/styles/themes/theme-retro.scss */
#home-header {
  background: #1a1a1a url("https://unsplash.it/1000/500?image=998") no-repeat fixed center;
  background-size: cover;
  text-align: center;
}
/* line 193, ../../../app/styles/themes/theme-retro.scss */
#home-header .header__tag h1 {
  position: relative;
  margin-top: 105px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 12px;
  padding-bottom: 5px;
  color: #FFF;
}
/* line 202, ../../../app/styles/themes/theme-retro.scss */
#home-header .header__tag h1:before {
  margin-left: -15px;
  bottom: -3px;
  left: 50%;
  position: absolute;
  content: "";
  width: 30px;
  height: 3px;
  background-color: #FFF;
}
/* line 214, ../../../app/styles/themes/theme-retro.scss */
#home-header .header__tag h3 {
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 3px;
}
/* line 221, ../../../app/styles/themes/theme-retro.scss */
#home-header .header__tag-inner {
  padding: 15px;
  width: 300px;
  height: 300px;
  background-color: var(--secondary-color);
  border-radius: 50%;
}
/* line 229, ../../../app/styles/themes/theme-retro.scss */
#home-header p {
  margin: 20px auto 15px;
  max-width: 50%;
  color: #FFF;
}
/* line 235, ../../../app/styles/themes/theme-retro.scss */
#home-header .header__overlay {
  background-color: var(--tertiary-color);
  opacity: 0.3;
}

/* line 245, ../../../app/styles/themes/theme-retro.scss */
#home-skills .section__badge:before {
  content: "12";
}
/* line 249, ../../../app/styles/themes/theme-retro.scss */
#home-skills .row {
  margin-right: 0;
  margin-left: 0;
}
/* line 254, ../../../app/styles/themes/theme-retro.scss */
#home-skills .skills__item {
  color: #FFF;
  text-align: center;
}
/* line 258, ../../../app/styles/themes/theme-retro.scss */
#home-skills .skills__item h3 {
  position: relative;
  padding: 30px 0 15px;
  color: var(--primary-color);
}
/* line 263, ../../../app/styles/themes/theme-retro.scss */
#home-skills .skills__item h3:before {
  position: absolute;
  content: "";
  margin-left: -15px;
  width: 30px;
  height: 4px;
  left: 50%;
  bottom: -4px;
  background-color: var(--primary-color);
}
/* line 275, ../../../app/styles/themes/theme-retro.scss */
#home-skills .skills__item p {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 285, ../../../app/styles/themes/theme-retro.scss */
#home-history {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 289, ../../../app/styles/themes/theme-retro.scss */
#home-history .section__badge:before {
  content: "34";
}

/* line 297, ../../../app/styles/themes/theme-retro.scss */
#home-words {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 301, ../../../app/styles/themes/theme-retro.scss */
#home-words .section__badge:before {
  content: "56";
}
/* line 306, ../../../app/styles/themes/theme-retro.scss */
#home-words .wrapper .row {
  margin-left: 0;
  margin-right: 0;
  padding-top: 30px;
}
/* line 313, ../../../app/styles/themes/theme-retro.scss */
#home-words p {
  padding: 15px;
}

/* line 321, ../../../app/styles/themes/theme-retro.scss */
#home-team {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #E8E8E8;
  border-bottom: 5px solid var(--primary-color);
}
/* line 327, ../../../app/styles/themes/theme-retro.scss */
#home-team .container .wrapper {
  overflow: hidden;
  padding: 15px;
  border-radius: 7px;
}
/* line 333, ../../../app/styles/themes/theme-retro.scss */
#home-team .team__tag {
  margin-top: 80px;
}
/* line 336, ../../../app/styles/themes/theme-retro.scss */
#home-team .team__tag h1 {
  font-size: 76px;
  font-weight: 700;
  color: var(--primary-color);
  line-height: 0.8;
}
/* line 344, ../../../app/styles/themes/theme-retro.scss */
#home-team h3 {
  margin-top: 5px;
  margin-bottom: 25px;
  padding-bottom: 5px;
  font-size: 28px;
  font-weight: 700;
  color: #1E1E1E;
  text-transform: uppercase;
  border-bottom: 4px solid #1E1E1E;
}
/* line 355, ../../../app/styles/themes/theme-retro.scss */
#home-team h4 {
  font-weight: 700;
}
/* line 359, ../../../app/styles/themes/theme-retro.scss */
#home-team h5 {
  z-index: 10;
  margin-bottom: 2px;
  font-weight: 700;
  color: var(--primary-color);
}

/* line 370, ../../../app/styles/themes/theme-retro.scss */
#home-prices {
  margin-bottom: 100px;
}
/* line 373, ../../../app/styles/themes/theme-retro.scss */
#home-prices .section__badge:before {
  content: "78";
}
/* line 377, ../../../app/styles/themes/theme-retro.scss */
#home-prices .row {
  margin-right: 0;
  margin-left: 0;
}
/* line 382, ../../../app/styles/themes/theme-retro.scss */
#home-prices h3 {
  font-weight: 700;
  color: var(--primary-color);
}
/* line 387, ../../../app/styles/themes/theme-retro.scss */
#home-prices h4 {
  font-size: 18px;
  font-weight: 300;
  color: var(--tertiary-color);
  text-transform: uppercase;
}
/* line 394, ../../../app/styles/themes/theme-retro.scss */
#home-prices .prices__tag {
  margin-bottom: 15px;
  font-family: var(--primary-font);
  font-weight: 700;
}
/* line 401, ../../../app/styles/themes/theme-retro.scss */
#home-prices .prices__list ul {
  text-align: left;
}
/* line 404, ../../../app/styles/themes/theme-retro.scss */
#home-prices .prices__list ul li {
  font-size: 18px;
  font-weight: 700;
  color: #1E1E1E;
  border-bottom: 4px solid #1E1E1E;
}
/* line 413, ../../../app/styles/themes/theme-retro.scss */
#home-prices .section__button {
  margin-top: 15px;
}

/* line 423, ../../../app/styles/themes/theme-retro.scss */
#home-blog .section__badge:before {
  content: "09";
}
/* line 427, ../../../app/styles/themes/theme-retro.scss */
#home-blog .row {
  margin-right: 0;
  margin-left: 0;
  padding-top: 15px;
}
/* line 433, ../../../app/styles/themes/theme-retro.scss */
#home-blog h3 {
  color: #1E1E1E;
}
/* line 437, ../../../app/styles/themes/theme-retro.scss */
#home-blog h5 {
  font-weight: 700;
  color: var(--primary-color);
}

/* line 446, ../../../app/styles/themes/theme-retro.scss */
#home-contact {
  margin-bottom: 30px;
}
/* line 449, ../../../app/styles/themes/theme-retro.scss */
#home-contact .section__badge:before {
  content: "10";
}
/* line 453, ../../../app/styles/themes/theme-retro.scss */
#home-contact .textBox {
  min-height: 203px;
  padding: 15px;
}
/* line 458, ../../../app/styles/themes/theme-retro.scss */
#home-contact h3 {
  font-weight: 300;
  color: var(--primary-color);
}
/* line 463, ../../../app/styles/themes/theme-retro.scss */
#home-contact p {
  color: #1E1E1E;
}
/* line 468, ../../../app/styles/themes/theme-retro.scss */
#home-contact .contact__icons li {
  color: #FFF;
  background-color: var(--secondary-color);
  border-radius: 50%;
}
/* line 475, ../../../app/styles/themes/theme-retro.scss */
#home-contact input, #home-contact textarea {
  padding: 12px;
  font-size: 16px;
  font-weight: 700;
  color: var(--secondary-color);
  background-color: transparent;
  border-bottom: 4px solid var(--secondary-color);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
/* line 484, ../../../app/styles/themes/theme-retro.scss */
#home-contact input:hover, #home-contact input:focus, #home-contact textarea:hover, #home-contact textarea:focus {
  background-color: var(--secondary-color);
  color: #FFF;
}
/* line 490, ../../../app/styles/themes/theme-retro.scss */
#home-contact textarea {
  min-height: 140px;
}
