/*$mainColor: #33FFE6;
$secondaryColor: #FF2789;
$fillColor: #2B2E3A;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #037E8C;
$secondaryColor: #F24C27;
$fillColor: #024959;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #FF3D7F;
$secondaryColor: #3FB8AF;
$fillColor: #7FC7AF;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #D44F3D;
$secondaryColor: #1C152E;
$fillColor: #DCAB40;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #FF2EFF;
$secondaryColor: #D4DC14;
$fillColor: #4DDA9E;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #ef4b54;
$secondaryColor: #268180;
$fillColor: #f8e1b2;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;
*/
/*$mainColor: #CC4452;
$secondaryColor: #723147;
$fillColor: #E6B098;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #FEB41C;
$secondaryColor: #363F45;
$fillColor: #5E7C88;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #FC4349;
$secondaryColor: #6DBCDB;
$fillColor: #2C3E50;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #D96666;
$secondaryColor: #F2E5A2;
$fillColor: #81AC8B;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;
*/
/*$mainColor: #588C8C;
$secondaryColor: #D9042B;
$fillColor: #011C26;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #45B29D;
$secondaryColor: #DF5A49;
$fillColor: #334D5C;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #E27A3F;
$secondaryColor: #DF5A49;
$fillColor: #45B29D;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #DF5A49;
$secondaryColor: #45B29D;
$fillColor: #334D5C;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #B296BC;
$secondaryColor: #00BACF;
$fillColor: #8F8A8C;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/* $mainColor: #56D9CD;
$secondaryColor: #4588D8;
$fillColor: #4588D8;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E; */
/*$mainColor: #4588D8;
$secondaryColor: #5dffea;
$fillColor: #4588D8;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/
/*$mainColor: #56D9CD;
$secondaryColor: #4588D8;
$accentColor: #F2385A;
// $fillColor: #0c4d8d;
$fillColor: #002635;

$lightGray: #f1f1f1;
$mediumGray: #636363;
$darkGray: #323232;*/
/* line 5, ../../../app/styles/themes/theme-retro.scss */
body {
  background-color: #FFF;
}

/* line 11, ../../../app/styles/themes/theme-retro.scss */
h1 {
  color: #F53357;
  font-weight: 700;
}

/* line 16, ../../../app/styles/themes/theme-retro.scss */
h2 {
  font-family: 'secondaryFont';
  display: inline-block;
  position: relative;
  margin: 8px 0;
  padding: 0;
  font-size: 28px;
  color: #FFF;
  font-weight: 700;
  text-align: center;
}
/* line 26, ../../../app/styles/themes/theme-retro.scss */
h2:before {
  position: absolute;
  content: "";
  top: 50%;
  left: -40px;
  width: 25px;
  height: 1px;
  background-color: #FFF;
}
/* line 35, ../../../app/styles/themes/theme-retro.scss */
h2:after {
  position: absolute;
  content: "";
  top: 50%;
  right: -40px;
  width: 25px;
  height: 1px;
  background-color: #FFF;
}

/* line 46, ../../../app/styles/themes/theme-retro.scss */
p {
  font-weight: 400;
  color: #1E1E1E;
}

/* line 51, ../../../app/styles/themes/theme-retro.scss */
#history p {
  -moz-column-count: 4;
  column-count: 4;
}

/* line 59, ../../../app/styles/themes/theme-retro.scss */
.titleWrapper {
  margin-top: 30px;
}
/* line 61, ../../../app/styles/themes/theme-retro.scss */
.titleWrapper .container {
  position: relative;
  text-align: center;
  background: #1E1E1E url("../images/retroTile.png") repeat scroll center;
  box-shadow: 0 4px 4px -3px #1E1E1E;
}
/* line 66, ../../../app/styles/themes/theme-retro.scss */
.titleWrapper .container .titleIcon {
  position: absolute;
  margin-top: -40px;
  margin-left: 25px;
  width: 80px;
  height: 80px;
  top: 50%;
  font-family: 'secondaryFont';
  font-size: 30px;
  font-weight: 700;
  color: #FFF;
  line-height: 0.8;
  background-color: #47384D;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}
/* line 81, ../../../app/styles/themes/theme-retro.scss */
.titleWrapper .container .titleIcon:before {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  /* IE 9 */
  /* Chrome, Safari, Opera */
  transform: skew(0, -8deg);
}
/* line 94, ../../../app/styles/themes/theme-retro.scss */
.titleWrapper .container:before {
  position: absolute;
  content: "";
  margin-top: -25px;
  left: 0;
  top: 50%;
  border-left: 16px solid #FFF;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
}
/* line 104, ../../../app/styles/themes/theme-retro.scss */
.titleWrapper .container:after {
  position: absolute;
  content: "";
  margin-top: -25px;
  right: 0;
  top: 50%;
  border-right: 16px solid #FFF;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
}

/* line 117, ../../../app/styles/themes/theme-retro.scss */
.section > .container .row {
  background-color: #E8E8E8;
}

/* line 123, ../../../app/styles/themes/theme-retro.scss */
#fontsVersus {
  text-transform: uppercase;
}
/* line 125, ../../../app/styles/themes/theme-retro.scss */
#fontsVersus .vsTag {
  margin-bottom: 20px;
}
/* line 128, ../../../app/styles/themes/theme-retro.scss */
#fontsVersus .vsTagInner {
  padding: 5px 15px;
  border: 2px solid black;
}

/* line 136, ../../../app/styles/themes/theme-retro.scss */
#homeNav {
  background: #1E1E1E url("../images/retroTile.png") repeat scroll center;
}
/* line 138, ../../../app/styles/themes/theme-retro.scss */
#homeNav .navbar-brand {
  color: #FFF;
  background-color: #F53357;
}
/* line 141, ../../../app/styles/themes/theme-retro.scss */
#homeNav .navbar-brand:hover {
  background-color: #f7647f;
}
/* line 145, ../../../app/styles/themes/theme-retro.scss */
#homeNav li a {
  color: #FFF;
}

/* line 152, ../../../app/styles/themes/theme-retro.scss */
#header {
  background: #1a1a1a url("http://lorempixel.com/g/1920/600/nature/") no-repeat fixed center;
  background-size: cover;
  border-bottom: 10px solid #3F585F;
}
/* line 157, ../../../app/styles/themes/theme-retro.scss */
#header .headerTag .headerTagInner {
  padding: 15px;
  width: 300px;
  height: 300px;
  background-color: #47384D;
  border-radius: 50%;
}
/* line 164, ../../../app/styles/themes/theme-retro.scss */
#header .headerTag h1 {
  position: relative;
  margin-top: 105px;
  margin-bottom: 12px;
  padding-bottom: 5px;
  color: #FFF;
}
/* line 170, ../../../app/styles/themes/theme-retro.scss */
#header .headerTag h1:before {
  margin-left: -15px;
  bottom: -3px;
  left: 50%;
  position: absolute;
  content: "";
  width: 30px;
  height: 3px;
  background-color: #FFF;
}
/* line 181, ../../../app/styles/themes/theme-retro.scss */
#header .headerTag h3 {
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 3px;
}
/* line 187, ../../../app/styles/themes/theme-retro.scss */
#header h1 {
  font-weight: 700;
  text-transform: uppercase;
}
/* line 191, ../../../app/styles/themes/theme-retro.scss */
#header p {
  margin-top: 20px;
  margin-bottom: 15px;
  max-width: 50%;
  color: #FFF;
}
/* line 197, ../../../app/styles/themes/theme-retro.scss */
#header .headerOverlay {
  background-color: rgba(63, 88, 95, 0.3);
}

/* line 202, ../../../app/styles/themes/theme-retro.scss */
button {
  padding: 6px 20px;
  font-family: 'mainFont';
  font-size: 18px;
  color: #F53357;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #F53357;
  transition: all 0.4s ease-in-out;
}
/* line 212, ../../../app/styles/themes/theme-retro.scss */
button:hover {
  color: #FFF;
  background-color: #F53357;
}

/* line 221, ../../../app/styles/themes/theme-retro.scss */
#skills .col-sm-4 {
  margin-top: 15px;
}
/* line 224, ../../../app/styles/themes/theme-retro.scss */
#skills .titleIcon:before {
  content: "12";
}
/* line 227, ../../../app/styles/themes/theme-retro.scss */
#skills .row {
  margin-right: 0;
  margin-left: 0;
}

/* line 233, ../../../app/styles/themes/theme-retro.scss */
.skillBox {
  color: #FFF;
  text-align: center;
}
/* line 236, ../../../app/styles/themes/theme-retro.scss */
.skillBox h3 {
  position: relative;
  margin: 0;
  padding: 50px 15px 15px;
  color: #F53357;
}
/* line 241, ../../../app/styles/themes/theme-retro.scss */
.skillBox h3:before {
  position: absolute;
  content: "";
  margin-left: -15px;
  width: 30px;
  height: 4px;
  left: 50%;
  bottom: -4px;
  background-color: #F53357;
}
/* line 254, ../../../app/styles/themes/theme-retro.scss */
.skillBox p {
  margin: 0;
  padding: 15px;
  position: relative;
  color: #3F585F;
}
/* line 260, ../../../app/styles/themes/theme-retro.scss */
.skillBox button {
  margin-bottom: 10px;
  padding: 0;
  font-family: 'secondaryFont';
  font-size: 18px;
  color: #1E1E1E;
  font-weight: 300;
  text-transform: lowercase;
  background-color: transparent;
  border: none;
}
/* line 270, ../../../app/styles/themes/theme-retro.scss */
.skillBox button:hover {
  color: #624d6b;
}

/* line 279, ../../../app/styles/themes/theme-retro.scss */
#history {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 282, ../../../app/styles/themes/theme-retro.scss */
#history .titleIcon:before {
  content: "34";
}
/* line 285, ../../../app/styles/themes/theme-retro.scss */
#history .wrapper {
  padding-top: 20px;
  background-color: #E8E8E8;
}
/* line 289, ../../../app/styles/themes/theme-retro.scss */
#history p {
  padding: 15px;
}

/* line 297, ../../../app/styles/themes/theme-retro.scss */
#randomWords {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 300, ../../../app/styles/themes/theme-retro.scss */
#randomWords .titleIcon:before {
  content: "56";
}
/* line 304, ../../../app/styles/themes/theme-retro.scss */
#randomWords .wrapper .row {
  margin-left: 0;
  margin-right: 0;
  padding-top: 30px;
}
/* line 310, ../../../app/styles/themes/theme-retro.scss */
#randomWords p {
  padding: 15px;
}

/* line 318, ../../../app/styles/themes/theme-retro.scss */
#aboutUs {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #E8E8E8;
  border-bottom: 5px solid #F53357;
}
/* line 323, ../../../app/styles/themes/theme-retro.scss */
#aboutUs .container .wrapper {
  overflow: hidden;
  padding: 15px;
  border-radius: 7px;
}
/* line 328, ../../../app/styles/themes/theme-retro.scss */
#aboutUs .aboutUsTag {
  margin-top: 80px;
}
/* line 331, ../../../app/styles/themes/theme-retro.scss */
#aboutUs .aboutUsBig {
  font-family: 'mainFont';
  font-size: 76px;
  font-weight: 700;
  color: #F53357;
  line-height: 0.8;
}
/* line 338, ../../../app/styles/themes/theme-retro.scss */
#aboutUs h3 {
  margin-top: 5px;
  margin-bottom: 25px;
  padding-bottom: 5px;
  font-family: 'mainFont';
  font-size: 28px;
  font-weight: 700;
  color: #1E1E1E;
  text-transform: uppercase;
  border-bottom: 4px solid #1E1E1E;
}
/* line 349, ../../../app/styles/themes/theme-retro.scss */
#aboutUs h4 {
  font-weight: 700;
}
/* line 352, ../../../app/styles/themes/theme-retro.scss */
#aboutUs h6 {
  z-index: 10;
  margin-bottom: 2px;
  font-family: 'mainFont';
  font-weight: 700;
  color: #F53357;
}

/* line 364, ../../../app/styles/themes/theme-retro.scss */
#prices {
  margin-bottom: 100px;
}
/* line 366, ../../../app/styles/themes/theme-retro.scss */
#prices .titleIcon:before {
  content: "78";
}
/* line 369, ../../../app/styles/themes/theme-retro.scss */
#prices .row {
  margin-right: 0;
  margin-left: 0;
  padding-top: 20px;
}
/* line 374, ../../../app/styles/themes/theme-retro.scss */
#prices h3 {
  font-weight: 700;
  color: #F53357;
}
/* line 378, ../../../app/styles/themes/theme-retro.scss */
#prices h4 {
  font-size: 18px;
  font-weight: 300;
  color: #3F585F;
  text-transform: uppercase;
}
/* line 384, ../../../app/styles/themes/theme-retro.scss */
#prices .priceTag {
  margin-bottom: 15px;
  font-family: 'mainFont';
  font-weight: 700;
}
/* line 389, ../../../app/styles/themes/theme-retro.scss */
#prices ul {
  text-align: left;
  padding-left: 3%;
  padding-right: 3%;
}
/* line 393, ../../../app/styles/themes/theme-retro.scss */
#prices ul li {
  font-family: 'mainFont';
  font-size: 18px;
  font-weight: 700;
  color: #1E1E1E;
  border-bottom: 4px solid #1E1E1E;
}
/* line 401, ../../../app/styles/themes/theme-retro.scss */
#prices button {
  margin-top: 20px;
  margin-bottom: -40px;
  padding: 0;
  width: 100px;
  height: 100px;
  font-size: 14px;
  color: #FFF;
  border: 0;
  border-radius: 50%;
  background-color: #F53357;
  box-shadow: 0 4px #ea0b35;
}
/* line 413, ../../../app/styles/themes/theme-retro.scss */
#prices button:hover {
  background-color: #f7647f;
  box-shadow: 0 4px #F53357;
}

/* line 423, ../../../app/styles/themes/theme-retro.scss */
#blogPosts .titleIcon:before {
  content: "09";
}
/* line 426, ../../../app/styles/themes/theme-retro.scss */
#blogPosts .row {
  margin-right: 0;
  margin-left: 0;
  padding-top: 15px;
}
/* line 431, ../../../app/styles/themes/theme-retro.scss */
#blogPosts h3 {
  color: #1E1E1E;
}
/* line 434, ../../../app/styles/themes/theme-retro.scss */
#blogPosts h5 {
  font-weight: 700;
  color: #F53357;
}

/* line 443, ../../../app/styles/themes/theme-retro.scss */
#contact {
  margin-bottom: 30px;
}
/* line 445, ../../../app/styles/themes/theme-retro.scss */
#contact .titleIcon:before {
  content: "10";
}
/* line 448, ../../../app/styles/themes/theme-retro.scss */
#contact .row {
  margin-right: 0;
  margin-left: 0;
  padding-top: 20px;
}
/* line 453, ../../../app/styles/themes/theme-retro.scss */
#contact .textBox {
  min-height: 203px;
  padding: 15px;
}
/* line 457, ../../../app/styles/themes/theme-retro.scss */
#contact h3 {
  font-weight: 300;
  color: #F53357;
}
/* line 461, ../../../app/styles/themes/theme-retro.scss */
#contact p {
  color: #1E1E1E;
}
/* line 464, ../../../app/styles/themes/theme-retro.scss */
#contact input, #contact textarea {
  padding: 12px;
  font-family: 'secondaryFont';
  font-size: 16px;
  font-weight: 700;
  color: #47384D;
  background-color: transparent;
  border-bottom: 4px solid #47384D;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
/* line 473, ../../../app/styles/themes/theme-retro.scss */
#contact input:hover, #contact input:focus, #contact textarea:hover, #contact textarea:focus {
  background-color: #47384D;
  color: #FFF;
}
/* line 478, ../../../app/styles/themes/theme-retro.scss */
#contact textarea {
  min-height: 140px;
}

/* line 485, ../../../app/styles/themes/theme-retro.scss */
footer {
  padding-top: 10px;
  background-color: #F53357;
}
/* line 488, ../../../app/styles/themes/theme-retro.scss */
footer p {
  color: #FFF;
}
/* line 491, ../../../app/styles/themes/theme-retro.scss */
footer .copyRight {
  text-align: right;
}
