// Main font

// ------ Gotham ------

/*@font-face {
  font-family: 'mainFont';
  src: url(../fonts/GothamHTF-Book.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/GothamHTF-Light.otf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/GothamHTF-Bold.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/GothamHTF-BookItalic.otf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/GothamHTF-LightItalic.otf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/GothamHTF-BoldItalic.otf);
  font-weight: 700;
  font-style: italic;
}*/


// ------ Aileron ------

/*@font-face {
  font-family: 'mainFont';
  src: url(../fonts/Aileron-Regular.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/Aileron-Light.otf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/Aileron-Bold.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/Aileron-Italic.otf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/Aileron-LightItalic.otf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/Aileron-BoldItalic.otf);
  font-weight: 700;
  font-style: italic;
}*/

// ------ Raleway ------

/*@font-face {
  font-family: 'mainFont';
  src: url(../fonts/Raleway-Regular.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/Raleway-Light.otf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/Raleway-Bold.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/Raleway-Regular.otf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/Raleway-Light.otf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/Raleway-Bold.otf);
  font-weight: 700;
  font-style: italic;
}*/

// ------ Lobster ------

/*@font-face {
  font-family: 'mainFont';
  src: url(../fonts/Lobster.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/Lobster.otf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/Lobster.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/Lobster.otf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/Lobster.otf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/Lobster.otf);
  font-weight: 700;
  font-style: italic;
}*/

// ------ Bebas ------

/*@font-face {
  font-family: 'mainFont';
  src: url(../fonts/BebasNeueRegular.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/BebasNeueLight.otf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/BebasNeueBold.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/BebasNeueRegular.otf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/BebasNeueLight.otf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/BebasNeueBold.otf);
  font-weight: 700;
  font-style: italic;
}*/

// ------ Roboto 2014 Condensed ------

/*@font-face {
  font-family: 'mainFont';
  src: url(../fonts/Roboto2014Condensed-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/Roboto2014Condensed-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/Roboto2014Condensed-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/Roboto2014Condensed-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/Roboto2014Condensed-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/Roboto2014Condensed-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}*/

// ------ Droid Serif ------

/*@font-face {
  font-family: 'mainFont';
  src: url(../fonts/DroidSerif.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/DroidSerif.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/DroidSerif-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/DroidSerif-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/DroidSerif-Italic.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/DroidSerif-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}*/

// ------ AkzidenzGrotesk ------

/*@font-face {
  font-family: 'mainFont';
  src: url(../fonts/AkzidenzGrotesk-Regular.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/AkzidenzGrotesk-Light.otf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/AkzidenzGrotesk-Bold.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/AkzidenzGrotesk-Italic.otf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/AkzidenzGrotesk-LightItalic.otf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/AkzidenzGrotesk-BoldItalic.otf);
  font-weight: 700;
  font-style: italic;
}*/

// ------ AkzidenzGrotesk Condensed------

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/AkzidenzGrotesk-Cond.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/AkzidenzGrotesk-LightCond.otf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/AkzidenzGrotesk-BoldCond.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/AkzidenzGrotesk-CondItalic.otf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/AkzidenzGrotesk-LightItalic.otf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/AkzidenzGrotesk-LightCondItalic.otf);
  font-weight: 700;
  font-style: italic;
}

// ------ RODUS ------

/*@font-face {
  font-family: 'mainFont';
  src: url(../fonts/RODUSreg500.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/RODUSreg300.otf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/RODUSreg700.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/RODUSreg500.otf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/RODUSreg300.otf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/RODUSreg700.otf);
  font-weight: 700;
  font-style: italic;
}*/

// ------ Voyager Grotesk ------

/*@font-face {
  font-family: 'mainFont';
  src: url(../fonts/VG_Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/VG_Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/VG_Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/VG_Regular.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/VG_Light.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/VG_Bold.ttf);
  font-weight: 700;
  font-style: italic;
}*/

// ------ Mission Gothic ------

/*@font-face {
  font-family: 'mainFont';
  src: url(../fonts/MissionGothicRegular.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/MissionGothicLight.otf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/MissionGothicBold.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/MissionGothicRegularItalic.otf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/MissionGothicLightItalic.otf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/MissionGothicBoldItalic.otf);
  font-weight: 700;
  font-style: italic;
}*/

// ------ Intro Condensed ------

/*@font-face {
  font-family: 'mainFont';
  src: url(../fonts/IntroCondLight.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/IntroCondLight.otf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/IntroCondBlack.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/IntroCondLight.otf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/IntroCondLight.otf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/IntroCondBlack.otf);
  font-weight: 700;
  font-style: italic;
}*/

// Secondary font

// ------ EXO 2 ------

/*@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Exo2-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Exo2-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Exo2-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Exo2-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Exo2-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Exo2-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}
*/
// ------ Aileron ------

/*@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Aileron-Regular.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Aileron-Light.otf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Aileron-Bold.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Aileron-Italic.otf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Aileron-LightItalic.otf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Aileron-BoldItalic.otf);
  font-weight: 700;
  font-style: italic;
}*/


// ------ Nexa ------

/*@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/NexaRegular.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Nexa-Light.otf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Nexa-Bold.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Nexa-Regular-Italic.otf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Nexa-Light-Italic.otf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Nexa-Bold-Italic.otf);
  font-weight: 700;
  font-style: italic;
}
*/

// ------ Baskerville ------

/*@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/BaskervilleMTStd-Regular.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/BaskervilleMTStd-Regular.otf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/BaskervilleMTStd-Bold.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/BaskervilleMTStd-Italic.otf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/BaskervilleMTStd-Italic.otf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/BaskervilleMTStd-BoldIt.otf);
  font-weight: 700;
  font-style: italic;
}*/

// ------ Roboto Slab ------

/*@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/RobotoSlab-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/RobotoSlab-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/RobotoSlab-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/RobotoSlab-Regular.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/RobotoSlab-Light.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/RobotoSlab-Bold.ttf);
  font-weight: 700;
  font-style: italic;
}*/

// ------ NexaRustScript ------

/*@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/NexaRustScript.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/NexaRustScript.otf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/NexaRustScript.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/NexaRustScript.otf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/NexaRustScript.otf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/NexaRustScript.otf);
  font-weight: 700;
  font-style: italic;
}*/

// ------ Titillium ------

/*@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Titillium-Regular.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Titillium-Light.otf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Titillium-Bold.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Titillium-RegularItalic.otf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Titillium-LightItalic.otf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Titillium-BoldItalic.otf);
  font-weight: 700;
  font-style: italic;
}*/

// ------ PT sans ------

/*@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/PT_Sans-Web-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/PT_Sans-Web-Regular.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/PT_Sans-Web-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/PT_Sans-Web-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/PT_Sans-Web-Italic.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/PT_Sans-Web-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}*/

// ------ Roboto 2014 ------

/*@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Roboto2014-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Roboto2014-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Roboto2014-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Roboto2014-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Roboto2014-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Roboto2014-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}*/

// ------ Anonymous Pro ------

/*@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Anonymous_Pro.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Anonymous_Pro.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Anonymous_Pro_B.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Anonymous_Pro_I.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Anonymous_Pro_I.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Anonymous_Pro_BI.ttf);
  font-weight: 700;
  font-style: italic;
}*/

// ------ Montserrat ------

/*@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: 700;
  font-style: italic;
}*/

// ------ Simplifica ------

/*@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/SIMPLIFICA.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/SIMPLIFICA.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/SIMPLIFICA.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/SIMPLIFICA.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/SIMPLIFICA.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/SIMPLIFICA.ttf);
  font-weight: 700;
  font-style: italic;
}
*/
// ------ Cooper Hewitt ------

/*@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/CooperHewitt-Medium.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/CooperHewitt-Light.otf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/CooperHewitt-Bold.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/CooperHewitt-MediumItalic.otf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/CooperHewitt-LightItalic.otf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/CooperHewitt-BoldItalic.otf);
  font-weight: 700;
  font-style: italic;
}*/

// ------ Encode Sans ------

/*@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/EncodeSansCondensed-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/EncodeSansCondensed-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/EncodeSansCondensed-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/EncodeSansCondensed-Regular.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/EncodeSansCondensed-Light.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/EncodeSansCondensed-Bold.ttf);
  font-weight: 700;
  font-style: italic;
}*/

// ------ Mission Gothic ------

/*@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/MissionGothicRegular.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/MissionGothicLight.otf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/MissionGothicBold.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/MissionGothicRegularItalic.otf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/MissionGothicLightItalic.otf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/MissionGothicBoldItalic.otf);
  font-weight: 700;
  font-style: italic;
}*/

// ------ Futura ------

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/FuturaStd-Medium.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/FuturaStd-Light.otf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/FuturaStd-Bold.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/FuturaStd-MediumOblique.otf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/FuturaStd-LightOblique.otf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/FuturaStd-BoldOblique.otf);
  font-weight: 700;
  font-style: italic;
}