// Future

/*$mainColor: #33FFE6;
$secondaryColor: #FF2789;
$fillColor: #2B2E3A;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/

// Retro

/*$mainColor: #037E8C;
$secondaryColor: #F24C27;
$fillColor: #024959;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/

// Compatible

/*$mainColor: #FF3D7F;
$secondaryColor: #3FB8AF;
$fillColor: #7FC7AF;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/

// 80s

/*$mainColor: #D44F3D;
$secondaryColor: #1C152E;
$fillColor: #DCAB40;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/

// 80s 2nd

/*$mainColor: #FF2EFF;
$secondaryColor: #D4DC14;
$fillColor: #4DDA9E;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/

// Bakery 1

/*$mainColor: #ef4b54;
$secondaryColor: #268180;
$fillColor: #f8e1b2;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;
*/
// Bakery 2

/*$mainColor: #CC4452;
$secondaryColor: #723147;
$fillColor: #E6B098;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/

// Industry

/*$mainColor: #FEB41C;
$secondaryColor: #363F45;
$fillColor: #5E7C88;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/

// Knot Just Nautical

/*$mainColor: #FC4349;
$secondaryColor: #6DBCDB;
$fillColor: #2C3E50;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/

// Cinderella

/*$mainColor: #D96666;
$secondaryColor: #F2E5A2;
$fillColor: #81AC8B;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;
*/
// Keep the change

/*$mainColor: #588C8C;
$secondaryColor: #D9042B;
$fillColor: #011C26;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/

// Sumer breeze

/*$mainColor: #45B29D;
$secondaryColor: #DF5A49;
$fillColor: #334D5C;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/

// Sumer breeze 2

/*$mainColor: #E27A3F;
$secondaryColor: #DF5A49;
$fillColor: #45B29D;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/

// Sumer breeze 3

/*$mainColor: #DF5A49;
$secondaryColor: #45B29D;
$fillColor: #334D5C;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/

// Freedom strategy

/*$mainColor: #B296BC;
$secondaryColor: #00BACF;
$fillColor: #8F8A8C;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/

// Modern

$mainColor: #F53357;
$secondaryColor: #47384D;
$fillColor: #3F585F;
$accentColor: #F2385A;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;

// Sebastian H

/* $mainColor: #56D9CD;
$secondaryColor: #4588D8;
$fillColor: #4588D8;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E; */

// Sebastian H 2

/*$mainColor: #4588D8;
$secondaryColor: #5dffea;
$fillColor: #4588D8;

$lightGray: #E8E8E8;
$mediumGray: #767676;
$darkGray: #1E1E1E;*/

// Sebastian H 3

/*$mainColor: #56D9CD;
$secondaryColor: #4588D8;
$accentColor: #F2385A;
// $fillColor: #0c4d8d;
$fillColor: #002635;

$lightGray: #f1f1f1;
$mediumGray: #636363;
$darkGray: #323232;*/

// Contrasts

$contrastColorDark: #000;
$contrastColorLight: #FFF;

