<ng-include src="'partials/home-versus.html'"></ng-include>
<ng-include src="'partials/home-nav.html'"></ng-include>
<ng-include src="'partials/home-header.html'"></ng-include>
<ng-include src="'partials/home-skill.html'"></ng-include>
<ng-include src="'partials/home-history.html'"></ng-include>
<ng-include src="'partials/home-words.html'"></ng-include>
<ng-include src="'partials/home-team.html'"></ng-include>
<ng-include src="'partials/home-prices.html'"></ng-include>
<ng-include src="'partials/home-blog.html'"></ng-include>
<ng-include src="'partials/home-contact.html'"></ng-include>
<ng-include src="'partials/home-footer.html'"></ng-include>
